<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shz_btn_close_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>shz_btn_close_mormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,273},{87,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{87,87}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>shz_btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,105},{166,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,96}}</string>
                <key>sourceSize</key>
                <string>{166,96}</string>
            </dict>
            <key>shz_img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{912,535}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{912,535}}</string>
                <key>sourceSize</key>
                <string>{912,535}</string>
            </dict>
            <key>shz_img_inputbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{117,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,65}}</string>
                <key>sourceSize</key>
                <string>{117,65}</string>
            </dict>
            <key>shz_txt_onlinescore.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,539},{177,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,41}}</string>
                <key>sourceSize</key>
                <string>{177,41}</string>
            </dict>
            <key>shz_txt_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,362},{131,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,68}}</string>
                <key>sourceSize</key>
                <string>{131,68}</string>
            </dict>
            <key>shz_txt_totalscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,539},{214,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,41}}</string>
                <key>sourceSize</key>
                <string>{214,41}</string>
            </dict>
            <key>shz_txt_xmlscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,539},{212,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,38}}</string>
                <key>sourceSize</key>
                <string>{212,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameResult.png</string>
            <key>size</key>
            <string>{1019,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:867046930a3555e1392e22c329ef9101$</string>
            <key>textureFileName</key>
            <string>gameResult.png</string>
        </dict>
    </dict>
</plist>
