<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left_happy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{179,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{179,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{179,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1428},{165,177}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1428},{165,177}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1249},{167,177}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1249},{167,177}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1609},{169,177}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1609},{169,177}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1428},{165,175}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1428},{165,175}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1428},{165,175}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1070},{161,175}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1070},{161,175}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1247},{157,175}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{157,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1247},{157,175}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{157,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,537},{153,173}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{153,173}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,537},{153,173}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{153,173}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,891},{155,173}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{155,173}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,891},{155,173}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{155,173}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,716},{155,173}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{155,173}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,716},{155,173}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{155,173}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1605},{161,171}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{161,171}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1605},{161,171}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{161,171}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1609},{171,173}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{171,173}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1609},{171,173}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{171,173}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{177,175}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{177,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{177,175}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{177,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{175,175}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{175,175}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1784},{169,173}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{169,173}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1784},{169,173}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{169,173}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,893},{171,175}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,893},{171,175}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{171,177}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{171,177}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,716},{171,175}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{171,175}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1251},{171,177}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1251},{171,177}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{171,177}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{171,177}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{175,177}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{175,177}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,360},{175,175}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,360},{175,175}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,537},{173,177}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,537},{173,177}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1070},{167,177}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1070},{167,177}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,181},{175,177}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,181},{175,177}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{179,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{179,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>left_happy_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>left_happy.png</string>
            <key>size</key>
            <string>{509,1961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cada7d73841c058739771ab1e49a7d3$</string>
            <key>textureFileName</key>
            <string>left_happy.png</string>
        </dict>
    </dict>
</plist>
