<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left_cry_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1649},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1613},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1613},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1466},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1466},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1434},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1434},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1283},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1283},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1255},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1255},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1100},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1792},{179,177}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,917},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,917},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,734},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,734},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,551},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,551},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,368},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,368},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,185},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,185},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
            <key>left_cry_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,177}}</string>
                <key>sourceSize</key>
                <string>{181,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>left_cry.png</string>
            <key>size</key>
            <string>{364,1971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b9447d1aa9cde75280132f411767acd$</string>
            <key>textureFileName</key>
            <string>left_cry.png</string>
        </dict>
    </dict>
</plist>
