<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left_common_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,338},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,338},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,338},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,338},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,338},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,338},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,170},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,170},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,338},{176,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,338},{176,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,170},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,170},{176,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,170},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,170},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,170},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,170},{176,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{176,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>left_common_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>left_common.png</string>
            <key>size</key>
            <string>{1620,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f73f2e0698c6f7f9db30154bfe6f5dc3$</string>
            <key>textureFileName</key>
            <string>left_common.png</string>
        </dict>
    </dict>
</plist>
