<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,422},{116,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{116,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fish_13_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1330},{100,251}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{100,251}}</string>
                <key>sourceSize</key>
                <string>{114,285}</string>
            </dict>
            <key>fish_13_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,829},{80,281}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{80,281}}</string>
                <key>sourceSize</key>
                <string>{114,285}</string>
            </dict>
            <key>fish_13_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1011},{100,277}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{100,277}}</string>
                <key>sourceSize</key>
                <string>{114,285}</string>
            </dict>
            <key>fish_13_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1013},{93,277}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,277}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1108},{93,275}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,275}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,651},{85,283}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{85,283}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,649},{85,283}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{85,283}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,649},{85,283}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{85,283}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,562},{87,283}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,283}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,829},{89,281}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,281}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,827},{89,281}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{89,281}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,736},{91,281}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,281}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,918},{93,279}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,279}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,911},{93,279}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,279}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1006},{93,277}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,277}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1101},{93,275}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,275}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1203},{93,273}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,273}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1113},{91,275}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,275}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,920},{89,279}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,279}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,738},{89,281}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,281}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,736},{89,281}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,281}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,560},{87,283}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,283}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,562},{85,283}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{85,283}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_14_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,422},{246,186}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{246,186}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>fish_14_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1805},{248,206}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,206}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>fish_14_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1460},{248,204}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,204}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>fish_14_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1805},{248,206}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,206}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>fish_14_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1805},{248,206}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,206}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>fish_14_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1805},{248,206}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,206}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>fish_14_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,834},{250,208}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{250,208}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1807},{256,206}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{256,206}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1583},{222,204}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{222,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1583},{220,204}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{220,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1583},{220,204}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{220,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1230},{224,204}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{224,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1024},{224,204}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{224,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1583},{222,206}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{222,206}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1583},{222,206}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{222,206}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,610},{226,206}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{226,206}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,210},{232,206}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{232,206}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{238,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{238,206}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,1044},{258,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{258,206}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1336},{244,208}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{244,208}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,624},{246,208}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{246,208}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1807},{248,208}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{248,208}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1807},{248,208}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{248,208}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1816},{258,206}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{258,206}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1252},{256,206}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{256,206}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{252,204}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{252,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1710},{246,204}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{246,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1336},{240,204}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{240,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,418},{232,204}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{232,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,818},{226,204}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{226,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_15_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1206},{142,268}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{142,268}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_15_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,422},{138,286}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{138,286}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_15_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,422},{136,288}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{136,288}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_15_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1196},{138,274}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{138,274}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_15_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,422},{138,286}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{138,286}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_15_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1196},{138,274}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{138,274}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_15_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,422},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1518},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,282},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,282},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,282},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,282},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,142},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,142},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,142},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,142},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1220},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,922},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,624},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_23_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1436},{160,140}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,41},{160,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_23_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{200,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_23_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1350},{186,186}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{186,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_unknown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1231},{97,122}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,19},{97,122}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>fish_unknown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,1132},{97,122}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{97,122}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>fish_unknown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,1033},{97,122}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{97,122}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>fish_unknown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,540},{101,122}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{101,122}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>fish_unknown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,920},{111,122}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{111,122}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>fish_unknown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,664},{123,122}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{123,122}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>fish_unknown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,789},{129,124}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{129,124}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1583},{134,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{134,224}}</string>
                <key>sourceSize</key>
                <string>{140,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishyqs_fish_1.png</string>
            <key>size</key>
            <string>{1743,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:110ce29b83d5b8a6adc50393b05473e1$</string>
            <key>textureFileName</key>
            <string>fishyqs_fish_1.png</string>
        </dict>
    </dict>
</plist>
