<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_22_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,438}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{268,438}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>fish_22_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{280,418}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{280,418}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>fish_22_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{258,432}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{258,432}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>fish_22_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,404},{284,394}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,41},{284,394}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>fish_22_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,436},{284,398}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,37},{284,398}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>fish_22_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,408},{282,404}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{282,404}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>fish_22_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{282,410}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{282,410}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>fish_22_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,414},{258,406}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{258,406}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>fish_22_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{286,406}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{286,406}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>fish_22_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{282,404}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{282,404}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>fish_22_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{270,400}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{270,400}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>fish_22_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{282,400}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{282,400}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>fish_22_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,422},{282,396}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{282,396}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishyqs_fish_4.png</string>
            <key>size</key>
            <string>{1938,822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2fec375f8a08bf607a44e4530a2efc0$</string>
            <key>textureFileName</key>
            <string>fishyqs_fish_4.png</string>
        </dict>
    </dict>
</plist>
