<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1471},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fish_18_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,468},{139,462}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{139,462}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_18_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,932},{141,460}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{141,460}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_18_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,466},{141,458}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{141,458}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_18_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,472},{137,464}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{137,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_18_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{133,466}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{133,466}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_18_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,468}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{129,468}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_18_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{133,464}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{133,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_18_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{137,456}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{137,456}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_18_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{129,464}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{129,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_18_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{125,468}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{125,468}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_18_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,938},{129,464}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{129,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_18_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,932},{125,462}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{125,462}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_18_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{127,462}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{127,462}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_20_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,397},{294,154}}</string>
                <key>offset</key>
                <string>{68,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,181},{294,154}}</string>
                <key>sourceSize</key>
                <string>{480,500}</string>
            </dict>
            <key>fish_20_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{396,184}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,173},{396,184}}</string>
                <key>sourceSize</key>
                <string>{480,500}</string>
            </dict>
            <key>fish_20_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,434},{422,204}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,159},{422,204}}</string>
                <key>sourceSize</key>
                <string>{480,500}</string>
            </dict>
            <key>fish_20_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,460},{432,222}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,147},{432,222}}</string>
                <key>sourceSize</key>
                <string>{480,500}</string>
            </dict>
            <key>fish_20_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{430,220}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,125},{430,220}}</string>
                <key>sourceSize</key>
                <string>{480,500}</string>
            </dict>
            <key>fish_20_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{338,450}}</string>
                <key>offset</key>
                <string>{46,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,11},{338,450}}</string>
                <key>sourceSize</key>
                <string>{480,500}</string>
            </dict>
            <key>fish_20_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,926},{314,434}}</string>
                <key>offset</key>
                <string>{58,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,47},{314,434}}</string>
                <key>sourceSize</key>
                <string>{480,500}</string>
            </dict>
            <key>fish_20_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1394},{336,422}}</string>
                <key>offset</key>
                <string>{47,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,1},{336,422}}</string>
                <key>sourceSize</key>
                <string>{480,500}</string>
            </dict>
            <key>fish_20_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,858},{320,234}}</string>
                <key>offset</key>
                <string>{55,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,130},{320,234}}</string>
                <key>sourceSize</key>
                <string>{480,500}</string>
            </dict>
            <key>fish_20_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,396},{240,290}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{240,290}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1145},{228,290}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{228,290}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1152},{228,294}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{228,294}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,2},{224,294}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{224,294}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,851},{224,292}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{224,292}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,853},{226,292}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{226,292}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,2},{224,290}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{224,290}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,2},{232,292}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{232,292}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,856},{232,294}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{232,294}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2},{224,294}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{224,294}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1382},{220,296}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{220,296}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1382},{230,294}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{230,294}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,397},{240,292}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{240,292}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1382},{242,294}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{242,294}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_20_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,400},{236,294}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{236,294}}</string>
                <key>sourceSize</key>
                <string>{262,300}</string>
            </dict>
            <key>fish_21_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1567},{94,172}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{94,172}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,1471},{94,172}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{94,172}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1593},{94,172}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{94,172}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,870},{94,170}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{94,170}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,774},{94,170}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{94,170}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,296},{96,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{96,170}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,298},{96,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{96,170}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1375},{94,172}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{94,172}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1678},{92,174}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{92,174}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,966},{90,174}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{90,174}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1680},{90,174}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{90,174}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1680},{90,174}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{90,174}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1678},{92,174}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{92,174}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1567},{92,172}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{92,172}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1432},{94,172}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{94,172}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1567},{94,172}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{94,172}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,1471},{94,172}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{94,172}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1593},{94,172}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{94,172}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,870},{94,170}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{94,170}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,774},{94,170}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{94,170}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,296},{96,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{96,170}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,298},{96,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{96,170}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1375},{94,172}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{94,172}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1678},{92,174}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{92,174}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,966},{90,174}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{90,174}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1680},{90,174}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{90,174}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1680},{90,174}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{90,174}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1678},{92,174}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{92,174}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1567},{92,172}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{92,172}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_21_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1432},{94,172}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{94,172}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>fish_22_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,614},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,454},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,294},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,691},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,691},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,693},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,696},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,696},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,614},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,454},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,294},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,691},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,691},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,693},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,696},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_22_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,696},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fish_23_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1180},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_23_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1180},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_23_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1180},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_unknown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,298},{122,97}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{122,97}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>fish_unknown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,298},{122,97}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{122,97}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>fish_unknown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,298},{122,97}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{122,97}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>fish_unknown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,1329},{122,101}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{122,101}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>fish_unknown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,1216},{122,111}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{122,111}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>fish_unknown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1092},{122,123}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{122,123}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>fish_unknown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,966},{124,129}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{124,129}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,1606},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishlk_fish_3.png</string>
            <key>size</key>
            <string>{2018,1772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d8d95486976f4dfe1497ae71c3bb9ab$</string>
            <key>textureFileName</key>
            <string>fishlk_fish_3.png</string>
        </dict>
    </dict>
</plist>
