<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right_cheer_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{173,157}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{173,157}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{175,157}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{175,157}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,159},{177,157}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{177,157}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,161},{189,157}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{189,157}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,318},{189,159}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{189,159}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,318},{189,161}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{189,161}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,320},{175,171}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,320},{183,163}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{183,163}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,159},{189,157}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{189,157}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{189,153}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{189,153}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,153}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{189,153}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{187,155}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{187,155}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{181,155}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{181,155}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,157},{175,157}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{175,157}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
            <key>right_cheer_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{169,157}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{169,157}}</string>
                <key>sourceSize</key>
                <string>{191,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>right_cheer1.png</string>
            <key>size</key>
            <string>{927,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf48d7644f2400096d518cbaf29e9513$</string>
            <key>textureFileName</key>
            <string>right_cheer1.png</string>
        </dict>
    </dict>
</plist>
