<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right_common_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,178},{197,172}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{197,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,528},{197,172}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{197,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,178},{197,172}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{197,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{197,174}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{197,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,352},{195,174}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{195,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,352},{195,174}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{195,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{195,174}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{195,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,702},{195,172}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{195,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,178},{197,172}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{197,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,352},{195,174}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{195,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,178},{197,174}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{197,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,702},{195,172}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{195,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,354},{197,172}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{197,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,702},{195,172}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{195,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{197,174}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{197,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,528},{195,174}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{195,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{195,174}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{195,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{197,174}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{197,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,528},{195,172}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{195,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{197,172}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{197,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,528},{195,172}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{195,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{197,174}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{197,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,174}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{201,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,704},{161,172}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,2},{161,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{179,170}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,3},{179,170}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>right_common.png</string>
            <key>size</key>
            <string>{1000,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b661c688e7e987d93c544afcff95a8af$</string>
            <key>textureFileName</key>
            <string>right_common.png</string>
        </dict>
    </dict>
</plist>
