<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right_common_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,350},{195,172}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{195,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,350},{197,172}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{197,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,350},{195,172}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{195,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,700},{195,174}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{195,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,700},{195,174}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{195,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{197,170}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{197,170}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{179,172}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,2},{179,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,172}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,2},{159,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,524},{219,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{195,174}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{195,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{197,172}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{197,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,350},{195,172}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{195,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,176},{197,172}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{197,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,176},{195,172}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{195,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,524},{195,174}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{195,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,524},{195,174}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{195,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,524},{195,174}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{195,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,174},{197,172}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{197,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,176},{195,172}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{195,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{197,172}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{197,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{195,172}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{195,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,700},{197,174}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{197,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{195,174}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{195,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,700},{197,174}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{197,174}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
            <key>right_common_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{195,172}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{195,172}}</string>
                <key>sourceSize</key>
                <string>{219,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>right_common2.png</string>
            <key>size</key>
            <string>{1011,876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e21bf32c5a08178d6d465fc0b6d3a12$</string>
            <key>textureFileName</key>
            <string>right_common2.png</string>
        </dict>
    </dict>
</plist>
