<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruitbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>gui-fruit-bibei-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{240,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,86}}</string>
                <key>sourceSize</key>
                <string>{240,86}</string>
            </dict>
            <key>gui-fruit-button-0-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,754},{115,123}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{115,123}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,754},{93,103}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{93,103}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-1-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,754},{111,123}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{111,123}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,754},{87,103}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{87,103}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-2-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,754},{105,127}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{105,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,754},{83,107}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{83,107}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-3-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,754},{101,125}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{101,125}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,754},{79,105}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{79,105}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-4-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,754},{101,123}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{101,123}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,420},{79,103}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{79,103}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-5-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,879},{105,123}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{105,123}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,754},{83,103}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{83,103}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-6-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,879},{111,123}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{111,123}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,754},{87,103}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{87,103}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-7-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,881},{115,123}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{115,123}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,860},{93,103}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{93,103}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gui-fruit-button-Clean.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,754},{104,83}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{104,83}}</string>
                <key>sourceSize</key>
                <string>{118,93}</string>
            </dict>
            <key>gui-fruit-button-Clean2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,881},{118,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,93}}</string>
                <key>sourceSize</key>
                <string>{118,93}</string>
            </dict>
            <key>gui-fruit-button-all-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,879},{107,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,93}}</string>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>gui-fruit-button-all.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,629},{93,83}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{93,83}}</string>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>gui-fruit-button-ask-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,506},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gui-fruit-button-ask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,506},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gui-fruit-button-bank-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,754},{124,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,84}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>gui-fruit-button-bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,863},{106,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{106,64}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>gui-fruit-button-begin-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,754},{174,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,115}}</string>
                <key>sourceSize</key>
                <string>{174,115}</string>
            </dict>
            <key>gui-fruit-button-begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,754},{170,103}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{170,103}}</string>
                <key>sourceSize</key>
                <string>{174,115}</string>
            </dict>
            <key>gui-fruit-button-da-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,420},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>gui-fruit-button-da.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,629},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{92,92}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>gui-fruit-button-push.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,610},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gui-fruit-button-xiao-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,525},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>gui-fruit-button-xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,724},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{92,92}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>gui-fruit-button-you-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,863},{105,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,93}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
            <key>gui-fruit-button-you.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,915},{91,83}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{91,83}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
            <key>gui-fruit-button-zuo-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,883},{119,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,93}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>gui-fruit-button-zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,754},{105,83}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{105,83}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>gui-fruit-icon-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,926},{70,72}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{70,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gui-fruit-icon-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,692},{78,70}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{78,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gui-fruit-icon-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,723},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gui-fruit-icon-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,930},{72,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gui-fruit-icon-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,930},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gui-fruit-icon-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,772},{80,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gui-fruit-icon-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,772},{78,60}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{78,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gui-fruit-icon-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,668},{68,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gui-fruit-icon-bg-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,420},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>gui-fruit-icon-bg-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,420},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>gui-fruit-icon-bg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,524},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>gui-fruit-icon-bg-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,915},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>gui-fruit-icon-bg-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,915},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>gui-fruit-icon-bg-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,915},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>gui-fruit-icon-bg-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,915},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>gui-fruit-icon-bg-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,915},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>gui-fruit-icon-bg-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,915},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>gui-fruit-icon-bg-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,915},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>gui-fruit-icon-luck.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,588},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>gui-fruit-icon-num50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,967},{65,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,33}}</string>
                <key>sourceSize</key>
                <string>{65,33}</string>
            </dict>
            <key>gui-fruit-machine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,1624}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1624}}</string>
                <key>sourceSize</key>
                <string>{750,1624}</string>
            </dict>
            <key>gui-fruit-middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,2},{416,382}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{416,382}}</string>
                <key>sourceSize</key>
                <string>{424,384}</string>
            </dict>
            <key>gui-fruit-run.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,861},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,102}}</string>
                <key>sourceSize</key>
                <string>{104,102}</string>
            </dict>
            <key>gui-fruit-tips-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,859},{680,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{680,54}}</string>
                <key>sourceSize</key>
                <string>{682,56}</string>
            </dict>
            <key>gui-furit-icon-num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,967},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuiguoji_resouce.png</string>
            <key>size</key>
            <string>{2012,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:702f9d1271bee1ba2c429f81721a561f$</string>
            <key>textureFileName</key>
            <string>shuiguoji_resouce.png</string>
        </dict>
    </dict>
</plist>
