<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tiger_game_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1624,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1624,750}}</string>
                <key>sourceSize</key>
                <string>{1624,750}</string>
            </dict>
            <key>tiger_game_icon_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,754},{962,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{962,21}}</string>
                <key>sourceSize</key>
                <string>{962,21}</string>
            </dict>
            <key>tiger_game_icon_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,754},{962,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{962,21}}</string>
                <key>sourceSize</key>
                <string>{962,21}</string>
            </dict>
            <key>tiger_game_icon_line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,754},{962,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{962,21}}</string>
                <key>sourceSize</key>
                <string>{962,21}</string>
            </dict>
            <key>tiger_game_icon_line4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1111},{955,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{955,355}}</string>
                <key>sourceSize</key>
                <string>{955,355}</string>
            </dict>
            <key>tiger_game_icon_line5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{955,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{955,355}}</string>
                <key>sourceSize</key>
                <string>{955,355}</string>
            </dict>
            <key>tiger_game_icon_line6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,754},{956,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{956,234}}</string>
                <key>sourceSize</key>
                <string>{956,234}</string>
            </dict>
            <key>tiger_game_icon_line7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1787},{956,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{956,234}}</string>
                <key>sourceSize</key>
                <string>{956,234}</string>
            </dict>
            <key>tiger_game_icon_line8.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,754},{965,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{965,317}}</string>
                <key>sourceSize</key>
                <string>{965,317}</string>
            </dict>
            <key>tiger_game_icon_line9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{965,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{965,317}}</string>
                <key>sourceSize</key>
                <string>{965,317}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiger_res1.png</string>
            <key>size</key>
            <string>{1628,2023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ebb43a1e6d1557e0176aea643b40c8c$</string>
            <key>textureFileName</key>
            <string>tiger_res1.png</string>
        </dict>
    </dict>
</plist>
