<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tiger_ani_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,746},{82,195}}</string>
                <key>offset</key>
                <string>{17,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,168},{82,195}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>tiger_ani_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,1349},{230,271}}</string>
                <key>offset</key>
                <string>{23,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,12},{230,271}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>tiger_ani_gold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,965},{382,241}}</string>
                <key>offset</key>
                <string>{22,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,0},{382,241}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>tiger_ani_gold4.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1372},{504,397}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,2},{504,397}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>tiger_ani_gold5.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1771},{608,229}}</string>
                <key>offset</key>
                <string>{19,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,202},{608,229}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>tiger_ani_gold6.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2244},{678,91}}</string>
                <key>offset</key>
                <string>{4,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,343},{678,91}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>tiger_ani_gold7.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2113},{688,79}}</string>
                <key>offset</key>
                <string>{0,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,358},{688,79}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>tiger_ani_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1167},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>tiger_game_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,1510},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tiger_game_btn_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,1349},{349,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,86}}</string>
                <key>sourceSize</key>
                <string>{349,86}</string>
            </dict>
            <key>tiger_game_btn_cellblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,2},{349,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,86}}</string>
                <key>sourceSize</key>
                <string>{349,86}</string>
            </dict>
            <key>tiger_game_btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,1606},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>tiger_game_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,1237},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>tiger_game_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,1414},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tiger_game_btn_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,917},{248,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,87}}</string>
                <key>sourceSize</key>
                <string>{248,87}</string>
            </dict>
            <key>tiger_game_btn_lineblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,1622},{248,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,87}}</string>
                <key>sourceSize</key>
                <string>{248,87}</string>
            </dict>
            <key>tiger_game_btn_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,1711},{217,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,87}}</string>
                <key>sourceSize</key>
                <string>{217,87}</string>
            </dict>
            <key>tiger_game_btn_maxblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,917},{217,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,87}}</string>
                <key>sourceSize</key>
                <string>{217,87}</string>
            </dict>
            <key>tiger_game_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,1318},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tiger_game_btn_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1800},{188,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,115}}</string>
                <key>sourceSize</key>
                <string>{188,115}</string>
            </dict>
            <key>tiger_game_btn_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1711},{188,111}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{188,111}}</string>
                <key>sourceSize</key>
                <string>{188,115}</string>
            </dict>
            <key>tiger_game_btn_start3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1808},{188,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,115}}</string>
                <key>sourceSize</key>
                <string>{188,115}</string>
            </dict>
            <key>tiger_game_btn_start4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,1808},{188,111}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{188,111}}</string>
                <key>sourceSize</key>
                <string>{188,115}</string>
            </dict>
            <key>tiger_game_icon_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{902,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{902,429}}</string>
                <key>sourceSize</key>
                <string>{902,429}</string>
            </dict>
            <key>tiger_game_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,765},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>tiger_game_icon_goldpool.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,903},{166,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,59}}</string>
                <key>sourceSize</key>
                <string>{166,59}</string>
            </dict>
            <key>tiger_game_icon_goldpoolbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,2},{475,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,134}}</string>
                <key>sourceSize</key>
                <string>{475,134}</string>
            </dict>
            <key>tiger_game_icon_goldpoollight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,2244},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>tiger_game_icon_goods1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,2096},{112,117}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{112,117}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_goods10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1990},{104,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{104,115}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_goods11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1998},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_goods12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,2011},{120,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{120,109}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_goods13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,765},{150,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_goods14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,2122},{118,103}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{118,103}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_goods2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2227},{106,109}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{106,109}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_goods3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,2215},{116,111}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{116,111}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_goods4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,1228},{100,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{100,113}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_goods5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1905},{104,121}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{104,121}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_goods6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,2132},{110,111}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{110,111}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_goods7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,2227},{108,101}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{108,101}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_goods8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,1136},{96,99}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{96,99}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_goods9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,1231},{116,113}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{116,113}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>tiger_game_icon_numlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,1071},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>tiger_game_icon_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,2020},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>tiger_public_icon_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{868,587}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{868,587}}</string>
                <key>sourceSize</key>
                <string>{868,587}</string>
            </dict>
            <key>tiger_public_icon_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1905},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>tiger_public_icon_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1507},{585,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,683}}</string>
                <key>sourceSize</key>
                <string>{585,683}</string>
            </dict>
            <key>tiger_public_icon_titlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1349},{457,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,120}}</string>
                <key>sourceSize</key>
                <string>{457,120}</string>
            </dict>
            <key>tiger_rule_btn_page.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,641},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>tiger_rule_btnstr_last.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1986},{89,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,32}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>tiger_rule_btnstr_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,591},{89,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,32}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>tiger_rule_icon_page1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,591},{914,401}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{914,401}}</string>
                <key>sourceSize</key>
                <string>{928,421}</string>
            </dict>
            <key>tiger_rule_icon_page2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{926,399}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{926,399}}</string>
                <key>sourceSize</key>
                <string>{928,421}</string>
            </dict>
            <key>tiger_rule_icon_page3.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,965},{634,405}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,0},{634,405}}</string>
                <key>sourceSize</key>
                <string>{928,421}</string>
            </dict>
            <key>tiger_rule_icon_page4.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,403},{894,341}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{894,341}}</string>
                <key>sourceSize</key>
                <string>{928,421}</string>
            </dict>
            <key>tiger_rule_icon_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,353},{286,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,79}}</string>
                <key>sourceSize</key>
                <string>{286,79}</string>
            </dict>
            <key>tiger_set_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,827},{132,74}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,74}}</string>
                <key>sourceSize</key>
                <string>{140,74}</string>
            </dict>
            <key>tiger_set_btn_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2244},{130,74}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,74}}</string>
                <key>sourceSize</key>
                <string>{140,74}</string>
            </dict>
            <key>tiger_set_icon_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,2089},{75,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,38}}</string>
                <key>sourceSize</key>
                <string>{75,38}</string>
            </dict>
            <key>tiger_set_icon_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,725},{75,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,38}}</string>
                <key>sourceSize</key>
                <string>{75,38}</string>
            </dict>
            <key>tiger_set_icon_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1824},{153,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,79}}</string>
                <key>sourceSize</key>
                <string>{153,79}</string>
            </dict>
            <key>tiger_win_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1495},{822,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,275}}</string>
                <key>sourceSize</key>
                <string>{822,275}</string>
            </dict>
            <key>tiger_win_icon_congratulations.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1372},{377,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,123}}</string>
                <key>sourceSize</key>
                <string>{377,123}</string>
            </dict>
            <key>tiger_win_icon_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,479},{284,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,109}}</string>
                <key>sourceSize</key>
                <string>{284,109}</string>
            </dict>
            <key>tiger_win_icon_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2192},{523,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,109}}</string>
                <key>sourceSize</key>
                <string>{523,109}</string>
            </dict>
            <key>tiger_win_icon_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2002},{702,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,109}}</string>
                <key>sourceSize</key>
                <string>{702,109}</string>
            </dict>
            <key>tiger_win_icon_title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,746},{846,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,217}}</string>
                <key>sourceSize</key>
                <string>{846,217}</string>
            </dict>
            <key>tiger_winuser_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2194},{790,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{790,48}}</string>
                <key>sourceSize</key>
                <string>{790,48}</string>
            </dict>
            <key>tiger_winuser_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,640},{83,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,41}}</string>
                <key>sourceSize</key>
                <string>{83,41}</string>
            </dict>
            <key>tiger_winuser_icon_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,2},{678,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,4}}</string>
                <key>sourceSize</key>
                <string>{678,4}</string>
            </dict>
            <key>tiger_winuser_icon_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,1824},{79,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,41}}</string>
                <key>sourceSize</key>
                <string>{79,41}</string>
            </dict>
            <key>tiger_winuser_icon_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,943},{286,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,76}}</string>
                <key>sourceSize</key>
                <string>{286,76}</string>
            </dict>
            <key>tiger_winuser_icon_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,479},{159,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,42}}</string>
                <key>sourceSize</key>
                <string>{159,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiger_res.png</string>
            <key>size</key>
            <string>{2037,2339}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba9d62abdc467732974426f3306f55d6$</string>
            <key>textureFileName</key>
            <string>tiger_res.png</string>
        </dict>
    </dict>
</plist>
