<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_13_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,604},{100,251}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{100,251}}</string>
                <key>sourceSize</key>
                <string>{114,285}</string>
            </dict>
            <key>fish_13_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,399},{80,281}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{80,281}}</string>
                <key>sourceSize</key>
                <string>{114,285}</string>
            </dict>
            <key>fish_13_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,297},{100,277}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{100,277}}</string>
                <key>sourceSize</key>
                <string>{114,285}</string>
            </dict>
            <key>fish_13_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,656},{93,277}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,277}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,656},{93,275}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,275}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,935},{91,275}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,275}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,655},{89,281}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,281}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,208},{87,283}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,283}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,568},{85,283}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{85,283}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,481},{85,283}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{85,283}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{89,281}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,281}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,746},{91,281}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,281}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_13_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1045},{93,279}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,279}}</string>
                <key>sourceSize</key>
                <string>{97,285}</string>
            </dict>
            <key>fish_14_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,416},{246,186}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{246,186}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>fish_14_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{248,206}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,206}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>fish_14_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,210},{248,204}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,204}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>fish_14_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{248,206}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,206}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>fish_14_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{248,206}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,206}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>fish_14_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{248,206}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,206}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>fish_14_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{250,208}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{250,208}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{258,206}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{244,208}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{244,208}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{248,208}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{248,208}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{256,206}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{256,206}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{246,204}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{246,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{232,204}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{232,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,208},{222,204}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{222,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,839},{220,204}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{220,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,914},{224,204}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{224,204}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,432},{222,206}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{222,206}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>fish_14_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,706},{232,206}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{232,206}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_3.png</string>
            <key>size</key>
            <string>{1004,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e9e5df560b3996d11a3524963b7ede1$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_3.png</string>
        </dict>
    </dict>
</plist>
