<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_24_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{534,246}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,366},{534,246}}</string>
                <key>sourceSize</key>
                <string>{640,990}</string>
            </dict>
            <key>fish_24_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,2},{520,252}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,362},{520,252}}</string>
                <key>sourceSize</key>
                <string>{640,990}</string>
            </dict>
            <key>fish_24_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{316,566}}</string>
                <key>offset</key>
                <string>{112,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,361},{316,566}}</string>
                <key>sourceSize</key>
                <string>{640,990}</string>
            </dict>
            <key>fish_24_die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{316,564}}</string>
                <key>offset</key>
                <string>{112,-148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,361},{316,564}}</string>
                <key>sourceSize</key>
                <string>{640,990}</string>
            </dict>
            <key>fish_24_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,570},{526,366}}</string>
                <key>offset</key>
                <string>{-11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,284},{526,366}}</string>
                <key>sourceSize</key>
                <string>{640,990}</string>
            </dict>
            <key>fish_24_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,538},{526,334}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,329},{526,334}}</string>
                <key>sourceSize</key>
                <string>{640,990}</string>
            </dict>
            <key>fish_24_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,2},{520,300}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,362},{520,300}}</string>
                <key>sourceSize</key>
                <string>{640,990}</string>
            </dict>
            <key>fish_24_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,538},{472,222}}</string>
                <key>offset</key>
                <string>{16,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,361},{472,222}}</string>
                <key>sourceSize</key>
                <string>{640,990}</string>
            </dict>
            <key>fish_24_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,524},{502,212}}</string>
                <key>offset</key>
                <string>{19,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,370},{502,212}}</string>
                <key>sourceSize</key>
                <string>{640,990}</string>
            </dict>
            <key>fish_24_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{532,216}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,369},{532,216}}</string>
                <key>sourceSize</key>
                <string>{640,990}</string>
            </dict>
            <key>fish_24_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{426,392}}</string>
                <key>offset</key>
                <string>{57,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,371},{426,392}}</string>
                <key>sourceSize</key>
                <string>{640,990}</string>
            </dict>
            <key>fish_24_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,602}}</string>
                <key>offset</key>
                <string>{112,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,366},{316,602}}</string>
                <key>sourceSize</key>
                <string>{640,990}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_10.png</string>
            <key>size</key>
            <string>{1978,1028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1c4981db7d949b0ee7216c9191e4f38$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_10.png</string>
        </dict>
    </dict>
</plist>
