<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_21_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,141},{139,462}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{139,462}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_21_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,282},{141,460}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{141,460}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_21_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,556},{141,458}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{141,458}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_21_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,145},{137,464}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{137,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_21_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{137,466}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{137,466}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_21_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,466},{129,468}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{129,468}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_21_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{139,464}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{139,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_21_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,699},{137,456}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{137,456}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_21_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,838},{131,464}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{131,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_21_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,468}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{147,468}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_21_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,971},{129,464}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{129,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_21_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,1211},{125,462}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{125,462}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_21_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,955},{127,464}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{127,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_22_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,141},{139,462}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{139,462}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_22_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,282},{141,460}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{141,460}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_22_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,419},{141,458}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{141,458}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_22_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{137,464}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{137,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_22_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,564},{133,466}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{133,466}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_22_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,472},{129,468}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{129,468}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_22_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,820},{133,464}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{133,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_22_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,699},{137,456}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{137,456}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_22_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{129,464}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{129,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_22_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,693},{125,468}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{125,468}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_22_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1073},{129,464}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{129,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_22_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,1084},{125,462}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{125,462}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_22_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,973},{127,462}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{127,462}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_23_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{139,462}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{139,462}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_23_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{141,460}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{141,460}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_23_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{141,458}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{141,458}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_23_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{137,464}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{137,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_23_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,284},{133,466}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{133,466}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_23_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,425},{129,468}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{129,468}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_23_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,838},{133,464}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{133,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_23_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,425},{137,456}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{137,456}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_23_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{129,464}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{129,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_23_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,468},{125,468}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{125,468}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_23_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,562},{129,464}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{129,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_23_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1102},{125,462}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{125,462}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>fish_23_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1102},{127,462}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{127,462}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_9.png</string>
            <key>size</key>
            <string>{1973,1339}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23bf769e3b8ac3e614f8e4b9057d064a$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_9.png</string>
        </dict>
    </dict>
</plist>
