<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_24_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,811},{490,281}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{490,281}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,245}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,42},{484,245}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,267},{482,275}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{482,275}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,544},{478,281}}</string>
                <key>offset</key>
                <string>{10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{478,281}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1094},{482,289}}</string>
                <key>offset</key>
                <string>{9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{482,289}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{486,287}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{486,287}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1108},{490,299}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{490,299}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{492,277}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{492,277}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{492,279}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{492,279}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,532},{490,277}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,41},{490,277}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{486,253}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,41},{486,253}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,267},{474,273}}</string>
                <key>offset</key>
                <string>{15,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{474,273}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,542},{478,281}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{478,281}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{480,259}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,41},{480,259}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,827},{476,285}}</string>
                <key>offset</key>
                <string>{13,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{476,285}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,827},{500,279}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{500,279}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{502,261}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,40},{502,261}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{490,263}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,37},{490,263}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
            <key>fish_24_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,263},{488,267}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{488,267}}</string>
                <key>sourceSize</key>
                <string>{512,359}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_11.png</string>
            <key>size</key>
            <string>{1956,1411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0f724acf19f6d61a4331f224dacd45b$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_11.png</string>
        </dict>
    </dict>
</plist>
