<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_10_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{178,170}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{178,170}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>fish_10_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{180,180}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{180,180}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>fish_10_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{192,186}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{192,186}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>fish_10_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,182}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{198,182}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>fish_10_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,133},{82,186}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,186}}</string>
                <key>sourceSize</key>
                <string>{84,190}</string>
            </dict>
            <key>fish_10_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,677},{82,186}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,186}}</string>
                <key>sourceSize</key>
                <string>{84,190}</string>
            </dict>
            <key>fish_10_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,133},{78,188}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,188}}</string>
                <key>sourceSize</key>
                <string>{84,190}</string>
            </dict>
            <key>fish_10_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{82,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,186}}</string>
                <key>sourceSize</key>
                <string>{84,190}</string>
            </dict>
            <key>fish_10_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,213},{82,184}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,184}}</string>
                <key>sourceSize</key>
                <string>{84,190}</string>
            </dict>
            <key>fish_10_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,186},{78,186}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,186}}</string>
                <key>sourceSize</key>
                <string>{84,190}</string>
            </dict>
            <key>fish_10_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,374},{70,186}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{70,186}}</string>
                <key>sourceSize</key>
                <string>{84,190}</string>
            </dict>
            <key>fish_10_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,297},{66,186}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{66,186}}</string>
                <key>sourceSize</key>
                <string>{84,190}</string>
            </dict>
            <key>fish_10_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,374},{66,186}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{66,186}}</string>
                <key>sourceSize</key>
                <string>{84,190}</string>
            </dict>
            <key>fish_10_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,673},{66,188}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{66,188}}</string>
                <key>sourceSize</key>
                <string>{84,190}</string>
            </dict>
            <key>fish_10_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,673},{68,188}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{68,188}}</string>
                <key>sourceSize</key>
                <string>{84,190}</string>
            </dict>
            <key>fish_10_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,217},{72,188}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{72,188}}</string>
                <key>sourceSize</key>
                <string>{84,190}</string>
            </dict>
            <key>fish_8_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,365},{88,146}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{88,146}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>fish_8_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,291},{72,154}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{72,154}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>fish_8_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,806},{64,158}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{64,158}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>fish_8_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,319},{60,152}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{60,152}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>fish_8_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,942},{68,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,158}}</string>
                <key>sourceSize</key>
                <string>{70,160}</string>
            </dict>
            <key>fish_8_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,872},{68,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,158}}</string>
                <key>sourceSize</key>
                <string>{70,160}</string>
            </dict>
            <key>fish_8_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,669},{68,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,158}}</string>
                <key>sourceSize</key>
                <string>{70,160}</string>
            </dict>
            <key>fish_8_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,496},{68,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,158}}</string>
                <key>sourceSize</key>
                <string>{70,160}</string>
            </dict>
            <key>fish_8_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,494},{68,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,158}}</string>
                <key>sourceSize</key>
                <string>{70,160}</string>
            </dict>
            <key>fish_8_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,863},{68,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{68,156}}</string>
                <key>sourceSize</key>
                <string>{70,160}</string>
            </dict>
            <key>fish_8_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,133},{68,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{68,156}}</string>
                <key>sourceSize</key>
                <string>{70,160}</string>
            </dict>
            <key>fish_8_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,874},{68,154}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{68,154}}</string>
                <key>sourceSize</key>
                <string>{70,160}</string>
            </dict>
            <key>fish_8_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,944},{68,152}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,152}}</string>
                <key>sourceSize</key>
                <string>{70,160}</string>
            </dict>
            <key>fish_8_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,804},{68,152}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,152}}</string>
                <key>sourceSize</key>
                <string>{70,160}</string>
            </dict>
            <key>fish_8_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,865},{68,152}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,152}}</string>
                <key>sourceSize</key>
                <string>{70,160}</string>
            </dict>
            <key>fish_8_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,513},{68,154}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{68,154}}</string>
                <key>sourceSize</key>
                <string>{70,160}</string>
            </dict>
            <key>fish_9_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,184},{106,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,133}}</string>
                <key>sourceSize</key>
                <string>{108,135}</string>
            </dict>
            <key>fish_9_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,883},{92,117}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{92,117}}</string>
                <key>sourceSize</key>
                <string>{108,135}</string>
            </dict>
            <key>fish_9_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,930},{88,99}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,35},{88,99}}</string>
                <key>sourceSize</key>
                <string>{108,135}</string>
            </dict>
            <key>fish_9_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,424},{102,103}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,32},{102,103}}</string>
                <key>sourceSize</key>
                <string>{108,135}</string>
            </dict>
            <key>fish_9_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,566},{96,101}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{96,101}}</string>
                <key>sourceSize</key>
                <string>{108,135}</string>
            </dict>
            <key>fish_9_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,790},{102,91}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,39},{102,91}}</string>
                <key>sourceSize</key>
                <string>{108,135}</string>
            </dict>
            <key>fish_9_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,829},{102,99}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{102,99}}</string>
                <key>sourceSize</key>
                <string>{108,135}</string>
            </dict>
            <key>fish_9_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,669},{101,131}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{101,131}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,566},{101,131}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{101,131}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,365},{127,133}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{127,133}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,671},{125,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{125,133}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,669},{121,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{121,133}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,562},{109,133}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{109,133}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,291},{103,131}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{103,131}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,564},{105,131}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{105,131}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,659},{111,129}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{111,129}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,528},{123,129}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{123,129}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,865},{135,129}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{135,129}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,2},{141,129}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,129}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{143,129}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{143,129}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{143,129}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,129}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{137,129}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{137,129}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>fish_9_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,365},{129,133}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{129,133}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_1.png</string>
            <key>size</key>
            <string>{849,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0326f9817656d3054cf1f9a6607a7778$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_1.png</string>
        </dict>
    </dict>
</plist>
