<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Light_Blue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,205},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>Light_Blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,406},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>Light_Blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,607},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>Light_Blue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,808},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>Light_Blue_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,808},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>Light_Green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,607},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>Light_Green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,406},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>Light_Green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,205},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>Light_Green_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>Light_Green_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>ScoreCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,486},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dntgquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{204,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{204,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qjfdiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>qjfquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yjsdquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,808},{195,183}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{195,183}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>yssnquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{209,201}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{209,201}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>yuqunquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,364},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_18.png</string>
            <key>size</key>
            <string>{790,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07baf5f1dbd81a0415f222672bb440bc$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_18.png</string>
        </dict>
    </dict>
</plist>
