<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_18_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,550},{252,257}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{252,257}}</string>
                <key>sourceSize</key>
                <string>{264,295}</string>
            </dict>
            <key>fish_18_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,279},{254,269}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,269}}</string>
                <key>sourceSize</key>
                <string>{264,295}</string>
            </dict>
            <key>fish_18_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,279},{254,269}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,269}}</string>
                <key>sourceSize</key>
                <string>{264,295}</string>
            </dict>
            <key>fish_18_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{258,271}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,271}}</string>
                <key>sourceSize</key>
                <string>{264,295}</string>
            </dict>
            <key>fish_18_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{260,275}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{260,275}}</string>
                <key>sourceSize</key>
                <string>{264,295}</string>
            </dict>
            <key>fish_18_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,287}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{250,287}}</string>
                <key>sourceSize</key>
                <string>{264,295}</string>
            </dict>
            <key>fish_18_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{260,275}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{260,275}}</string>
                <key>sourceSize</key>
                <string>{264,295}</string>
            </dict>
            <key>fish_18_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{258,271}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,271}}</string>
                <key>sourceSize</key>
                <string>{264,295}</string>
            </dict>
            <key>fish_18_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,279},{254,269}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,269}}</string>
                <key>sourceSize</key>
                <string>{264,295}</string>
            </dict>
            <key>fish_18_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,279},{254,269}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,269}}</string>
                <key>sourceSize</key>
                <string>{264,295}</string>
            </dict>
            <key>fish_18_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{252,243}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{252,243}}</string>
                <key>sourceSize</key>
                <string>{264,257}</string>
            </dict>
            <key>fish_18_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{254,245}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{254,245}}</string>
                <key>sourceSize</key>
                <string>{264,257}</string>
            </dict>
            <key>fish_18_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,279},{252,245}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{252,245}}</string>
                <key>sourceSize</key>
                <string>{264,257}</string>
            </dict>
            <key>fish_18_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,550},{252,245}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{252,245}}</string>
                <key>sourceSize</key>
                <string>{264,257}</string>
            </dict>
            <key>fish_18_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,564},{252,245}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{252,245}}</string>
                <key>sourceSize</key>
                <string>{264,257}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_6.png</string>
            <key>size</key>
            <string>{1023,811}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fdc79fc3cf49d9e8977fbcb83a2fabd$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_6.png</string>
        </dict>
    </dict>
</plist>
