<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_26_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,760},{234,242}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{234,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{248,256}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{250,246}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,238},{232,224}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{232,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,236},{232,222}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{232,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,518},{248,244}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{248,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,260},{248,256}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,260},{232,240}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{232,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{226,234}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{226,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,768},{242,240}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{232,222}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{232,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,472},{234,222}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{234,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{254,250}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{254,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{256,250}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,518},{238,240}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{226,242}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{226,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_26_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,768},{244,240}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{244,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_13.png</string>
            <key>size</key>
            <string>{1190,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d35925fe17ee3d7f55b160afb510a3e$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_13.png</string>
        </dict>
    </dict>
</plist>
