<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_15_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,582},{142,268}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{142,268}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_15_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{138,286}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{138,286}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_15_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,444},{136,288}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{136,288}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_15_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,726},{138,274}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{138,274}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_15_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{138,286}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{138,286}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_15_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,726},{138,274}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{138,274}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_15_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,582},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,880},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,582},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,882},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,582},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,442},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,302},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,582},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_15_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,882},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_16_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,300},{142,282}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,282}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_16_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{140,294}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{140,294}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_16_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{140,298}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_16_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2},{138,290}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{138,290}}</string>
                <key>sourceSize</key>
                <string>{144,300}</string>
            </dict>
            <key>fish_16_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_16_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,442},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_16_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,302},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_16_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,582},{138,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,296}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_16_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,582},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_16_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_16_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_16_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,442},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_16_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,302},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_16_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_16_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,598},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
            <key>fish_16_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{138,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,298}}</string>
                <key>sourceSize</key>
                <string>{140,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_4.png</string>
            <key>size</key>
            <string>{1404,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4898270936d3e7c00044581d8ef43fd$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_4.png</string>
        </dict>
    </dict>
</plist>
