<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishex_27_die_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{302,220}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,140},{302,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,468},{302,228}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,131},{302,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{376,208}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,151},{376,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,230}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,129},{414,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,954},{298,250}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,119},{298,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1464},{228,246}}</string>
                <key>offset</key>
                <string>{-27,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,126},{228,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1416},{256,242}}</string>
                <key>offset</key>
                <string>{-34,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,130},{256,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{334,266}}</string>
                <key>offset</key>
                <string>{-45,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,110},{334,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{396,284}}</string>
                <key>offset</key>
                <string>{-50,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,91},{396,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,698},{374,254}}</string>
                <key>offset</key>
                <string>{-38,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,108},{374,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,270},{304,196}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,145},{304,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1660},{228,144}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,179},{228,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{302,214}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,151},{302,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1340},{178,122}}</string>
                <key>offset</key>
                <string>{35,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,192},{178,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1150},{188,148}}</string>
                <key>offset</key>
                <string>{46,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,179},{188,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,954},{194,148}}</string>
                <key>offset</key>
                <string>{41,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,179},{194,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{262,208}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,151},{262,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1820},{236,208}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,151},{236,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1806},{224,208}}</string>
                <key>offset</key>
                <string>{29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,151},{224,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1820},{230,208}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,151},{230,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1206},{276,208}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,151},{276,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{282,208}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,151},{282,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1588},{240,230}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,147},{240,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_15.png</string>
            <key>size</key>
            <string>{772,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f1ff41b6ccb1ef11756bc43b33c370f$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_15.png</string>
        </dict>
    </dict>
</plist>
