<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_20_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,390},{202,174}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,88},{202,174}}</string>
                <key>sourceSize</key>
                <string>{320,350}</string>
            </dict>
            <key>fish_20_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2},{276,158}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,90},{276,158}}</string>
                <key>sourceSize</key>
                <string>{320,350}</string>
            </dict>
            <key>fish_20_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,475},{286,144}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,76},{286,144}}</string>
                <key>sourceSize</key>
                <string>{320,350}</string>
            </dict>
            <key>fish_20_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,394},{228,174}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,52},{228,174}}</string>
                <key>sourceSize</key>
                <string>{320,350}</string>
            </dict>
            <key>fish_20_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,392},{236,208}}</string>
                <key>offset</key>
                <string>{28,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,35},{236,208}}</string>
                <key>sourceSize</key>
                <string>{320,350}</string>
            </dict>
            <key>fish_20_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,386},{238,248}}</string>
                <key>offset</key>
                <string>{29,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,26},{238,248}}</string>
                <key>sourceSize</key>
                <string>{320,350}</string>
            </dict>
            <key>fish_20_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{220,288}}</string>
                <key>offset</key>
                <string>{22,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,19},{220,288}}</string>
                <key>sourceSize</key>
                <string>{320,350}</string>
            </dict>
            <key>fish_20_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,368},{240,280}}</string>
                <key>offset</key>
                <string>{40,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,16},{240,280}}</string>
                <key>sourceSize</key>
                <string>{320,350}</string>
            </dict>
            <key>fish_20_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,396},{228,234}}</string>
                <key>offset</key>
                <string>{46,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,25},{228,234}}</string>
                <key>sourceSize</key>
                <string>{320,350}</string>
            </dict>
            <key>fish_20_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,2},{123,342}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,2},{123,342}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{135,364}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{135,364}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{131,392}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{131,392}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{127,388}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{127,388}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{123,390}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{123,390}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{117,382}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{117,382}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,364},{109,344}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,1},{109,344}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{141,388}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,2},{141,388}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,394}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{139,394}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{131,390}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,3},{131,390}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{125,392}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{125,392}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{117,386}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{117,386}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,2},{109,362}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{109,362}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,2},{119,360}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{119,360}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>fish_20_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,2},{131,380}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{131,380}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_8.png</string>
            <key>size</key>
            <string>{2000,626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a64cedcaa27b6e2cc5a3caffaeb29d80$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_8.png</string>
        </dict>
    </dict>
</plist>
