<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishex_27_die_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,242},{302,220}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,140},{302,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,542},{302,228}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,131},{302,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{314,238}}</string>
                <key>offset</key>
                <string>{-36,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,141},{314,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{78,380}}</string>
                <key>offset</key>
                <string>{-39,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,70},{78,380}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{238,314}}</string>
                <key>offset</key>
                <string>{-43,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,102},{238,314}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,82},{380,78}}</string>
                <key>offset</key>
                <string>{-44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,217},{380,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,238}}</string>
                <key>offset</key>
                <string>{-42,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,133},{314,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,162},{78,380}}</string>
                <key>offset</key>
                <string>{-40,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,61},{78,380}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,242},{302,214}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,151},{302,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,464},{262,208}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,151},{262,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,674},{244,208}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,151},{244,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,772},{224,208}}</string>
                <key>offset</key>
                <string>{29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,151},{224,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,546},{224,236}}</string>
                <key>offset</key>
                <string>{29,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,136},{224,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,242},{252,298}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,106},{252,298}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{238,314}}</string>
                <key>offset</key>
                <string>{-35,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,96},{238,314}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{380,78}}</string>
                <key>offset</key>
                <string>{-35,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,216},{380,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_17.png</string>
            <key>size</key>
            <string>{1016,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b00747fa4de75b6b93ce6c8873c1d239$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_17.png</string>
        </dict>
    </dict>
</plist>
