<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_11_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,310},{150,142}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{150,142}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish_11_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,160},{152,148}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{152,148}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish_11_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,318},{156,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,154}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish_11_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{156,154}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,154}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish_11_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{156,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{156,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>fish_11_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{160,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>fish_11_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{158,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{158,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>fish_11_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,160},{156,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{156,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>fish_11_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{156,156}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>fish_11_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,474},{140,156}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{140,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>fish_11_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,386},{112,156}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{112,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>fish_11_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,474},{92,156}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{92,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>fish_11_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,738},{98,156}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{98,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>fish_11_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,580},{118,156}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{118,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>fish_11_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{142,156}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{142,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>fish_11_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{158,156}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>fish_12_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,632},{84,218}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{84,218}}</string>
                <key>sourceSize</key>
                <string>{92,220}</string>
            </dict>
            <key>fish_12_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{82,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{82,218}}</string>
                <key>sourceSize</key>
                <string>{92,220}</string>
            </dict>
            <key>fish_12_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,580},{78,204}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{78,204}}</string>
                <key>sourceSize</key>
                <string>{92,220}</string>
            </dict>
            <key>fish_12_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,306},{78,196}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,196}}</string>
                <key>sourceSize</key>
                <string>{92,220}</string>
            </dict>
            <key>fish_12_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,632},{84,218}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,218}}</string>
                <key>sourceSize</key>
                <string>{88,220}</string>
            </dict>
            <key>fish_12_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{84,218}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,218}}</string>
                <key>sourceSize</key>
                <string>{88,220}</string>
            </dict>
            <key>fish_12_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,632},{60,218}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{60,218}}</string>
                <key>sourceSize</key>
                <string>{88,220}</string>
            </dict>
            <key>fish_12_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,632},{78,218}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{78,218}}</string>
                <key>sourceSize</key>
                <string>{88,220}</string>
            </dict>
            <key>fish_12_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,852},{84,212}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,212}}</string>
                <key>sourceSize</key>
                <string>{88,220}</string>
            </dict>
            <key>fish_12_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,500},{78,206}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{78,206}}</string>
                <key>sourceSize</key>
                <string>{88,220}</string>
            </dict>
            <key>fish_12_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,160},{72,202}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{72,202}}</string>
                <key>sourceSize</key>
                <string>{88,220}</string>
            </dict>
            <key>fish_12_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,234},{70,202}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{70,202}}</string>
                <key>sourceSize</key>
                <string>{88,220}</string>
            </dict>
            <key>fish_12_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,838},{70,204}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{70,204}}</string>
                <key>sourceSize</key>
                <string>{88,220}</string>
            </dict>
            <key>fish_12_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,910},{70,212}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,212}}</string>
                <key>sourceSize</key>
                <string>{88,220}</string>
            </dict>
            <key>fish_12_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{68,216}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{68,216}}</string>
                <key>sourceSize</key>
                <string>{88,220}</string>
            </dict>
            <key>fish_12_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,938},{64,218}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{64,218}}</string>
                <key>sourceSize</key>
                <string>{88,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_2.png</string>
            <key>size</key>
            <string>{678,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ef6a327e65343ea6cd45b5c9b33b829$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_2.png</string>
        </dict>
    </dict>
</plist>
