<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishex_27_die_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1672},{302,220}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,140},{302,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1672},{302,228}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,131},{302,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{408,416}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,45},{408,416}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1246},{382,382}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,63},{382,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1514},{354,354}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,78},{354,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,814},{330,326}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,93},{330,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,490},{322,318}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,96},{322,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1560},{370,378}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,66},{370,378}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{398,410}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{398,410}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,426}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{412,426}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{392,410}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{392,410}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,412},{378,390}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,57},{378,390}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,274},{302,214}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,151},{302,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,776},{366,374}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,67},{366,374}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1178},{378,388}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,60},{378,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1558},{366,382}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,62},{366,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,848},{382,396}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,54},{382,396}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{398,408}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,48},{398,408}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,420},{386,396}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,55},{386,396}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1178},{368,380}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,64},{368,380}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{274,270}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,123},{274,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1630},{342,352}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,81},{342,352}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,1144},{368,368}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,73},{368,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,792},{390,384}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,65},{390,384}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,396},{378,398}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,57},{378,398}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{392,410}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{392,410}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fishex_27_die_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{404,416}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,46},{404,416}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_16.png</string>
            <key>size</key>
            <string>{1943,1976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6023ab798f2eb7b5cb0722f001418a09$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_16.png</string>
        </dict>
    </dict>
</plist>
