<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_27_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,298}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,103},{280,298}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_27_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{288,228}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,143},{288,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_27_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1630},{208,270}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,121},{208,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_27_die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1250},{224,258}}</string>
                <key>offset</key>
                <string>{29,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,122},{224,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_27_die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1186},{262,226}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,155},{262,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_27_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1476},{258,214}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,139},{258,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_27_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1692},{252,204}}</string>
                <key>offset</key>
                <string>{31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,152},{252,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_27_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1038},{228,210}}</string>
                <key>offset</key>
                <string>{28,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,145},{228,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_27_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,780},{216,256}}</string>
                <key>offset</key>
                <string>{39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,129},{216,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_27_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1414},{214,262}}</string>
                <key>offset</key>
                <string>{37,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,122},{214,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_27_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{210,262}}</string>
                <key>offset</key>
                <string>{36,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,122},{210,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_27_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,524},{210,254}}</string>
                <key>offset</key>
                <string>{36,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,127},{210,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_27_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,266},{210,256}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,128},{210,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_27_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{272,282}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{272,282}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>fish_27_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,746},{278,218}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{278,218}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>fish_27_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,302},{280,222}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,47},{280,222}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>fish_27_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{280,240}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{280,240}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>fish_27_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{272,280}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{272,280}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>fish_27_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{280,246}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,35},{280,246}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>fish_27_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,526},{278,218}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,50},{278,218}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>fish_27_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,966},{274,218}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,46},{274,218}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>fish_27_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{268,276}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{268,276}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_fish_14.png</string>
            <key>size</key>
            <string>{770,1898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0bca5fc5ec04d410e4a0b329a4259c2$</string>
            <key>textureFileName</key>
            <string>fishdntg_fish_14.png</string>
        </dict>
    </dict>
</plist>
