<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dntg_bg_gunPlatformCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,865},{143,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,69}}</string>
                <key>sourceSize</key>
                <string>{143,69}</string>
            </dict>
            <key>dntg_bg_helptitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,423},{280,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,111}}</string>
                <key>sourceSize</key>
                <string>{280,111}</string>
            </dict>
            <key>dntg_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,124},{312,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,232}}</string>
                <key>sourceSize</key>
                <string>{312,232}</string>
            </dict>
            <key>dntg_bg_long_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{596,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,74}}</string>
                <key>sourceSize</key>
                <string>{596,74}</string>
            </dict>
            <key>dntg_bg_lowarticle.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,843},{76,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,71}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>dntg_bg_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,358},{242,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,33}}</string>
                <key>sourceSize</key>
                <string>{242,33}</string>
            </dict>
            <key>dntg_bg_popwindows.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,124},{227,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,177}}</string>
                <key>sourceSize</key>
                <string>{227,177}</string>
            </dict>
            <key>dntg_bg_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,914},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>dntg_bg_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,303},{189,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,54}}</string>
                <key>sourceSize</key>
                <string>{189,54}</string>
            </dict>
            <key>dntg_bg_tagarrows.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,393},{60,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,116}</string>
            </dict>
            <key>dntg_bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{440,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,143}}</string>
                <key>sourceSize</key>
                <string>{440,143}</string>
            </dict>
            <key>dntg_btn_addgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,606},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>dntg_btn_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,690},{102,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,111}}</string>
                <key>sourceSize</key>
                <string>{102,111}</string>
            </dict>
            <key>dntg_btn_autoing.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,808},{102,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,111}}</string>
                <key>sourceSize</key>
                <string>{102,111}</string>
            </dict>
            <key>dntg_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,531},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>dntg_btn_deletegun.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,959},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>dntg_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,471},{98,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,97}}</string>
                <key>sourceSize</key>
                <string>{98,97}</string>
            </dict>
            <key>dntg_btn_downarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,970},{44,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,69}}</string>
                <key>sourceSize</key>
                <string>{44,69}</string>
            </dict>
            <key>dntg_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,359},{102,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{102,110}</string>
            </dict>
            <key>dntg_btn_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,695},{102,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,111}}</string>
                <key>sourceSize</key>
                <string>{102,111}</string>
            </dict>
            <key>dntg_btn_locking.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,471},{102,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,109}}</string>
                <key>sourceSize</key>
                <string>{102,109}</string>
            </dict>
            <key>dntg_btn_normalfish.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,629},{153,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,64}}</string>
                <key>sourceSize</key>
                <string>{153,64}</string>
            </dict>
            <key>dntg_btn_normalfish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,563},{153,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,64}}</string>
                <key>sourceSize</key>
                <string>{153,64}</string>
            </dict>
            <key>dntg_btn_rarefish.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,393},{153,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,64}}</string>
                <key>sourceSize</key>
                <string>{153,64}</string>
            </dict>
            <key>dntg_btn_rarefish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,941},{153,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,64}}</string>
                <key>sourceSize</key>
                <string>{153,64}</string>
            </dict>
            <key>dntg_btn_s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{131,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,73}}</string>
                <key>sourceSize</key>
                <string>{131,73}</string>
            </dict>
            <key>dntg_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,359},{102,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{102,110}</string>
            </dict>
            <key>dntg_btn_setclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,696},{105,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{105,56}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>dntg_btn_setopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,638},{105,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{105,56}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>dntg_btn_settitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,511},{109,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,60}}</string>
                <key>sourceSize</key>
                <string>{109,60}</string>
            </dict>
            <key>dntg_btn_specialfish.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,124},{153,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,64}}</string>
                <key>sourceSize</key>
                <string>{153,64}</string>
            </dict>
            <key>dntg_btn_specialfish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,875},{153,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,64}}</string>
                <key>sourceSize</key>
                <string>{153,64}</string>
            </dict>
            <key>dntg_btn_tishititle.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,575},{107,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,61}}</string>
                <key>sourceSize</key>
                <string>{107,61}</string>
            </dict>
            <key>dntg_btn_turnback.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,803},{102,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{102,110}</string>
            </dict>
            <key>dntg_btntable_cancle.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,571},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{76,35}</string>
            </dict>
            <key>dntg_btntable_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{76,35}</string>
            </dict>
            <key>dntg_bullet1_ion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,972},{42,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{42,57}</string>
            </dict>
            <key>dntg_bullet1_ion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,972},{42,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{42,57}</string>
            </dict>
            <key>dntg_bullet1_norm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,211},{23,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,47}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>dntg_bullet1_norm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,162},{23,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,47}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>dntg_bullet1_norm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,113},{23,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,47}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>dntg_bullet1_norm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,966},{23,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,47}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>dntg_bullet1_norm5.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,712},{23,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,47}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>dntg_bullet1_norm6.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,663},{23,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,47}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>dntg_bullet2_ion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,668},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>dntg_bullet2_ion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,303},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>dntg_bullet2_norm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,953},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>dntg_bullet2_norm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,953},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>dntg_bullet2_norm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,786},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>dntg_bullet2_norm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,904},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>dntg_bullet2_norm5.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,818},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>dntg_bullet2_norm6.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,786},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>dntg_bullet3_ion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,608},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>dntg_bullet3_ion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,906},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>dntg_bullet3_norm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,867},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>dntg_bullet3_norm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,904},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>dntg_bullet3_norm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,867},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>dntg_bullet3_norm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,818},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>dntg_bullet3_norm5.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,737},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>dntg_bullet3_norm6.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,737},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>dntg_bullet4_ion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,670},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>dntg_bullet4_ion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,608},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>dntg_bullet4_norm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,663},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>dntg_bullet4_norm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,966},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>dntg_bullet4_norm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,921},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>dntg_bullet4_norm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,970},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>dntg_bullet4_norm5.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,970},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>dntg_bullet4_norm6.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,970},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>dntg_gold_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,836},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>dntg_gold_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,622},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>dntg_gold_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,916},{74,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{74,54}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>dntg_gold_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,917},{74,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{74,40}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>dntg_gold_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,970},{74,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{74,44}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>dntg_gold_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,431},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{74,58}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>dntg_gold_coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,843},{76,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>dntg_gunPlatformButtom1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,921},{47,49}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{47,49}}</string>
                <key>sourceSize</key>
                <string>{87,65}</string>
            </dict>
            <key>dntg_gunPlatformButtom1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,915},{77,53}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{77,53}}</string>
                <key>sourceSize</key>
                <string>{87,65}</string>
            </dict>
            <key>dntg_gunPlatformButtom1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,915},{77,53}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{77,53}}</string>
                <key>sourceSize</key>
                <string>{87,65}</string>
            </dict>
            <key>dntg_gunPlatformButtom1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,915},{77,53}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{77,53}}</string>
                <key>sourceSize</key>
                <string>{87,65}</string>
            </dict>
            <key>dntg_gunPlatformButtom2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,843},{51,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{51,61}}</string>
                <key>sourceSize</key>
                <string>{87,65}</string>
            </dict>
            <key>dntg_gunPlatformButtom2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,279},{71,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{71,61}}</string>
                <key>sourceSize</key>
                <string>{87,65}</string>
            </dict>
            <key>dntg_gunPlatformButtom2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,742},{69,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{69,63}}</string>
                <key>sourceSize</key>
                <string>{87,65}</string>
            </dict>
            <key>dntg_gunPlatformButtom2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,359},{87,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,65}}</string>
                <key>sourceSize</key>
                <string>{87,65}</string>
            </dict>
            <key>dntg_gun_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,600},{29,55}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{29,55}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>dntg_gun_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,358},{33,47}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{33,47}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>dntg_gun_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,915},{57,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{57,53}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>dntg_gun_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,507},{67,59}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>dntg_gun_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,448},{81,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{81,63}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>dntg_gun_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,754},{87,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{87,67}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>dntg_gun_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,754},{87,65}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{87,65}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>dntg_gun_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,342},{87,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{87,57}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>dntg_help_paging.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,78},{598,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,44}}</string>
                <key>sourceSize</key>
                <string>{598,44}</string>
            </dict>
            <key>dntg_icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,80},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>dntg_icon_helpcaptions.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,419}}</string>
                <key>sourceSize</key>
                <string>{269,419}</string>
            </dict>
            <key>dntg_icon_helpcaptions2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,696},{56,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>dntg_icon_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,818},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>dntg_icon_net1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,393},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>dntg_icon_net2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,705},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>dntg_icon_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,813},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{59,28}</string>
            </dict>
            <key>dntg_icon_voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,576},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{59,28}</string>
            </dict>
            <key>dntg_iocn_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,754},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dntg_switch_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,563},{125,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,75}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishdntg_game.png</string>
            <key>size</key>
            <string>{910,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b869721b4899377eada5d900aa2e97f$</string>
            <key>textureFileName</key>
            <string>fishdntg_game.png</string>
        </dict>
    </dict>
</plist>
