<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>watch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,499},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,499},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,428},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,428},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,357},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,357},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,286},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,286},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,215},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,215},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,144},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,144},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,73},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,73},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>watch_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>watch.png</string>
            <key>size</key>
            <string>{218,570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9c55aa362ec8906302a20a2a2b96b19$</string>
            <key>textureFileName</key>
            <string>watch.png</string>
        </dict>
    </dict>
</plist>
