<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>105_bt_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1963},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{32,32}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>105_bt_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1963},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{32,32}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>105_bt_quit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1094},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{44,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>105_bt_quit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1094},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{44,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>105_im_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2045,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>bt_apply_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1560},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{114,108}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>bt_apply_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,988},{218,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,74}}</string>
                <key>sourceSize</key>
                <string>{222,78}</string>
            </dict>
            <key>bt_apply_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,912},{218,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,74}}</string>
                <key>sourceSize</key>
                <string>{222,78}</string>
            </dict>
            <key>bt_apply_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,836},{218,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,74}}</string>
                <key>sourceSize</key>
                <string>{222,78}</string>
            </dict>
            <key>bt_apply_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1444},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{114,108}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>bt_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{50,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{50,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bt_bank_getout_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1704},{257,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{257,63}}</string>
                <key>sourceSize</key>
                <string>{261,67}</string>
            </dict>
            <key>bt_bank_getout_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1704},{257,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{257,63}}</string>
                <key>sourceSize</key>
                <string>{261,67}</string>
            </dict>
            <key>bt_cancel_apply_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1142},{218,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,74}}</string>
                <key>sourceSize</key>
                <string>{222,78}</string>
            </dict>
            <key>bt_cancel_apply_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1951},{218,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,74}}</string>
                <key>sourceSize</key>
                <string>{222,78}</string>
            </dict>
            <key>bt_cancel_apply_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1951},{218,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,74}}</string>
                <key>sourceSize</key>
                <string>{222,78}</string>
            </dict>
            <key>bt_cancel_banker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1963},{218,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,74}}</string>
                <key>sourceSize</key>
                <string>{222,78}</string>
            </dict>
            <key>bt_cancel_banker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,727},{218,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,74}}</string>
                <key>sourceSize</key>
                <string>{222,78}</string>
            </dict>
            <key>bt_cancel_banker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,507},{218,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,74}}</string>
                <key>sourceSize</key>
                <string>{222,78}</string>
            </dict>
            <key>bt_help_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,782},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bt_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,728},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bt_ludan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1328},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{114,108}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>bt_ludan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1866},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{114,108}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>bt_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1997},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{48,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bt_pull_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,880},{152,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{152,106}}</string>
                <key>sourceSize</key>
                <string>{162,110}</string>
            </dict>
            <key>bt_pull_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,972},{106,74}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{106,74}}</string>
                <key>sourceSize</key>
                <string>{162,110}</string>
            </dict>
            <key>bt_pull_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,864},{106,74}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{106,74}}</string>
                <key>sourceSize</key>
                <string>{162,110}</string>
            </dict>
            <key>bt_score_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1628},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1506},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1384},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,836},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,790},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,672},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1896},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{108,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1786},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{108,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1676},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{108,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1506},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1384},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1268},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1212},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1180},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1070},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1152},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1096},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1064},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,980},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,864},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_score_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,954},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_seat.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1296},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{104,104}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>bt_set_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1094},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{44,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bt_set_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1997},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{44,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bt_set_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,908},{170,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{170,68}}</string>
                <key>sourceSize</key>
                <string>{172,72}</string>
            </dict>
            <key>bt_set_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,908},{168,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{168,68}}</string>
                <key>sourceSize</key>
                <string>{172,72}</string>
            </dict>
            <key>bt_superrob_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1750},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{114,108}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>bt_superrob_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1750},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{114,108}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>bt_superrob_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1070},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{114,108}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>im_ani_daomen.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1704},{414,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{414,245}}</string>
                <key>sourceSize</key>
                <string>{416,245}</string>
            </dict>
            <key>im_ani_duimen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1239},{463,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{463,233}}</string>
                <key>sourceSize</key>
                <string>{463,235}</string>
            </dict>
            <key>im_ani_leftcorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,402},{398,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{398,192}}</string>
                <key>sourceSize</key>
                <string>{398,194}</string>
            </dict>
            <key>im_ani_qiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,802},{435,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,204}}</string>
                <key>sourceSize</key>
                <string>{435,204}</string>
            </dict>
            <key>im_ani_rightcorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,2},{398,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,194}}</string>
                <key>sourceSize</key>
                <string>{398,194}</string>
            </dict>
            <key>im_ani_shunmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{415,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{415,245}}</string>
                <key>sourceSize</key>
                <string>{417,245}</string>
            </dict>
            <key>im_apply_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,316},{296,518}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{296,518}}</string>
                <key>sourceSize</key>
                <string>{296,536}</string>
            </dict>
            <key>im_bank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,2},{658,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{658,426}}</string>
                <key>sourceSize</key>
                <string>{680,440}</string>
            </dict>
            <key>im_bank_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1704},{291,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,48}}</string>
                <key>sourceSize</key>
                <string>{291,48}</string>
            </dict>
            <key>im_banker_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,834},{106,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{106,56}}</string>
                <key>sourceSize</key>
                <string>{106,58}</string>
            </dict>
            <key>im_clock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,430},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>im_drop_timeicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,800},{204,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{204,62}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>im_fly_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,672},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>im_game_end_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{858,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{858,354}}</string>
                <key>sourceSize</key>
                <string>{860,362}</string>
            </dict>
            <key>im_game_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1997},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>im_head_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>im_jettonbt_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1094},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>im_list_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,348},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>im_list_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1094},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>im_ludan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1185,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{1185,312}}</string>
                <key>sourceSize</key>
                <string>{1191,318}</string>
            </dict>
            <key>im_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1239},{152,437}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{152,437}}</string>
                <key>sourceSize</key>
                <string>{162,445}</string>
            </dict>
            <key>im_player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1034},{116,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>im_player_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,947},{146,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,55}}</string>
                <key>sourceSize</key>
                <string>{146,55}</string>
            </dict>
            <key>im_qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,672},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>im_seat_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,1004},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>im_set_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,430},{600,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,402}}</string>
                <key>sourceSize</key>
                <string>{600,402}</string>
            </dict>
            <key>im_sign_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1089},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{51,52}}</string>
                <key>sourceSize</key>
                <string>{67,84}</string>
            </dict>
            <key>im_sign_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1078},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{59,58}}</string>
                <key>sourceSize</key>
                <string>{67,84}</string>
            </dict>
            <key>im_userlist_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,834},{258,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{258,526}}</string>
                <key>sourceSize</key>
                <string>{262,536}</string>
            </dict>
            <key>im_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,316},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>txt_banker_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,908},{178,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,50}}</string>
                <key>sourceSize</key>
                <string>{178,50}</string>
            </dict>
            <key>txt_banker_selficon.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,828},{178,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,50}}</string>
                <key>sourceSize</key>
                <string>{178,50}</string>
            </dict>
            <key>txt_change_banker_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,776},{178,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,50}}</string>
                <key>sourceSize</key>
                <string>{178,50}</string>
            </dict>
            <key>txt_continue_sendcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,724},{178,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,50}}</string>
                <key>sourceSize</key>
                <string>{178,50}</string>
            </dict>
            <key>txt_free_timeicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,736},{204,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{204,62}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>txt_game_resortpoker.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,672},{178,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,50}}</string>
                <key>sourceSize</key>
                <string>{178,50}</string>
            </dict>
            <key>txt_open_timeicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,672},{204,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{204,62}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_res.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03172cda20d04439b6c7bf047f55c218$</string>
            <key>textureFileName</key>
            <string>game_res.png</string>
        </dict>
    </dict>
</plist>
