<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_anim_bj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,552},{72,77}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,42},{72,77}}</string>
                <key>sourceSize</key>
                <string>{150,157}</string>
            </dict>
            <key>ddz_anim_bj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1861},{150,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,157}}</string>
                <key>sourceSize</key>
                <string>{150,157}</string>
            </dict>
            <key>ddz_anim_bs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1651},{208,200}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,38},{208,200}}</string>
                <key>sourceSize</key>
                <string>{260,244}</string>
            </dict>
            <key>ddz_anim_bs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1164},{260,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,244}}</string>
                <key>sourceSize</key>
                <string>{260,244}</string>
            </dict>
            <key>ddz_anim_bs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1411},{240,238}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{240,238}}</string>
                <key>sourceSize</key>
                <string>{260,244}</string>
            </dict>
            <key>ddz_anim_bs4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1410},{256,240}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{256,240}}</string>
                <key>sourceSize</key>
                <string>{260,244}</string>
            </dict>
            <key>ddz_anim_bs5.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1652},{252,236}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{252,236}}</string>
                <key>sourceSize</key>
                <string>{260,244}</string>
            </dict>
            <key>ddz_anim_bs6.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,920},{242,206}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{242,206}}</string>
                <key>sourceSize</key>
                <string>{260,244}</string>
            </dict>
            <key>ddz_anim_hj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1790},{210,207}}</string>
                <key>offset</key>
                <string>{17,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,231},{210,207}}</string>
                <key>sourceSize</key>
                <string>{502,481}</string>
            </dict>
            <key>ddz_anim_hj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1164},{244,245}}</string>
                <key>offset</key>
                <string>{9,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,205},{244,245}}</string>
                <key>sourceSize</key>
                <string>{502,481}</string>
            </dict>
            <key>ddz_anim_hj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{404,433}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,31},{404,433}}</string>
                <key>sourceSize</key>
                <string>{502,481}</string>
            </dict>
            <key>ddz_anim_hj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,481}}</string>
                <key>sourceSize</key>
                <string>{502,481}</string>
            </dict>
            <key>ddz_anim_hj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,774},{144,334}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,334}}</string>
                <key>sourceSize</key>
                <string>{144,336}</string>
            </dict>
            <key>ddz_anim_pz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1790},{234,202}}</string>
                <key>offset</key>
                <string>{-14,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,80},{234,202}}</string>
                <key>sourceSize</key>
                <string>{360,296}</string>
            </dict>
            <key>ddz_anim_pz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,920},{292,242}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,46},{292,242}}</string>
                <key>sourceSize</key>
                <string>{360,296}</string>
            </dict>
            <key>ddz_anim_pz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{360,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,296}}</string>
                <key>sourceSize</key>
                <string>{360,296}</string>
            </dict>
            <key>ddz_anim_pz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{336,288}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{336,288}}</string>
                <key>sourceSize</key>
                <string>{360,296}</string>
            </dict>
            <key>ddz_anim_pz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{360,290}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{360,290}}</string>
                <key>sourceSize</key>
                <string>{360,296}</string>
            </dict>
            <key>ddz_anim_pz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{358,286}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{358,286}}</string>
                <key>sourceSize</key>
                <string>{360,296}</string>
            </dict>
            <key>ddz_anim_pz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,300},{340,250}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{340,250}}</string>
                <key>sourceSize</key>
                <string>{360,296}</string>
            </dict>
            <key>ddz_anim_pz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,552},{338,220}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{338,220}}</string>
                <key>sourceSize</key>
                <string>{360,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_anim_res.png</string>
            <key>size</key>
            <string>{872,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dd69792937adac34bc7bcffc20118f5$</string>
            <key>textureFileName</key>
            <string>ddz_anim_res.png</string>
        </dict>
    </dict>
</plist>
