<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_anim_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1003},{94,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,53}}</string>
                <key>sourceSize</key>
                <string>{94,53}</string>
            </dict>
            <key>ddz_img_1f.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,480},{66,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{66,45}</string>
            </dict>
            <key>ddz_img_2f.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,949},{73,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,45}}</string>
                <key>sourceSize</key>
                <string>{73,45}</string>
            </dict>
            <key>ddz_img_3f.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1088},{74,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,45}}</string>
                <key>sourceSize</key>
                <string>{74,45}</string>
            </dict>
            <key>ddz_img_bc.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1058},{92,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,52}}</string>
                <key>sourceSize</key>
                <string>{92,52}</string>
            </dict>
            <key>ddz_img_bjb.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1059},{135,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,53}}</string>
                <key>sourceSize</key>
                <string>{135,53}</string>
            </dict>
            <key>ddz_img_bs.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,213},{57,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,26}}</string>
                <key>sourceSize</key>
                <string>{57,26}</string>
            </dict>
            <key>ddz_img_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1164},{88,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,45}}</string>
                <key>sourceSize</key>
                <string>{88,45}</string>
            </dict>
            <key>ddz_img_bujiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,743},{128,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,45}}</string>
                <key>sourceSize</key>
                <string>{128,45}</string>
            </dict>
            <key>ddz_img_bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1205},{88,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,45}}</string>
                <key>sourceSize</key>
                <string>{88,45}</string>
            </dict>
            <key>ddz_img_bz.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,873},{128,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,69}}</string>
                <key>sourceSize</key>
                <string>{128,69}</string>
            </dict>
            <key>ddz_img_cj.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,154},{57,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,26}}</string>
                <key>sourceSize</key>
                <string>{57,26}</string>
            </dict>
            <key>ddz_img_cq.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1158},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
            <key>ddz_img_fj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{219,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,125}}</string>
                <key>sourceSize</key>
                <string>{219,125}</string>
            </dict>
            <key>ddz_img_jb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,996},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
            <key>ddz_img_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{207,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,151}}</string>
                <key>sourceSize</key>
                <string>{207,151}</string>
            </dict>
            <key>ddz_img_ld.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{156,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,91}}</string>
                <key>sourceSize</key>
                <string>{156,91}</string>
            </dict>
            <key>ddz_img_mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,857},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
            <key>ddz_img_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,806},{81,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,49}}</string>
                <key>sourceSize</key>
                <string>{81,49}</string>
            </dict>
            <key>ddz_img_over_bs.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,692},{83,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,47}}</string>
                <key>sourceSize</key>
                <string>{83,47}</string>
            </dict>
            <key>ddz_img_over_df.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,607},{83,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,47}}</string>
                <key>sourceSize</key>
                <string>{83,47}</string>
            </dict>
            <key>ddz_img_over_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,522},{83,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,47}}</string>
                <key>sourceSize</key>
                <string>{83,47}</string>
            </dict>
            <key>ddz_img_over_nc.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,437},{83,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,47}}</string>
                <key>sourceSize</key>
                <string>{83,47}</string>
            </dict>
            <key>ddz_img_qxtg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1059},{171,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,46}}</string>
                <key>sourceSize</key>
                <string>{171,46}</string>
            </dict>
            <key>ddz_img_restsuser_tg.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1196},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ddz_img_sz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,307},{128,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,70}}</string>
                <key>sourceSize</key>
                <string>{128,70}</string>
            </dict>
            <key>ddz_img_szi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{156,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,91}}</string>
                <key>sourceSize</key>
                <string>{156,91}</string>
            </dict>
            <key>ddz_img_ts.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,713},{91,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,45}}</string>
                <key>sourceSize</key>
                <string>{91,45}</string>
            </dict>
            <key>ddz_img_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,150}}</string>
                <key>sourceSize</key>
                <string>{251,150}</string>
            </dict>
            <key>ddz_img_xjyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,307},{171,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,46}}</string>
                <key>sourceSize</key>
                <string>{171,46}</string>
            </dict>
            <key>ddz_img_yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,620},{91,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,46}}</string>
                <key>sourceSize</key>
                <string>{91,46}</string>
            </dict>
            <key>ddz_img_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,527},{91,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,46}}</string>
                <key>sourceSize</key>
                <string>{91,46}</string>
            </dict>
            <key>ddz_img_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1058},{98,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,45}}</string>
                <key>sourceSize</key>
                <string>{98,45}</string>
            </dict>
            <key>ddz_img_zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{213,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,129}}</string>
                <key>sourceSize</key>
                <string>{213,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_txt_img_res.png</string>
            <key>size</key>
            <string>{255,1260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83c4c49108e39f45936b1ae1ac3c7491$</string>
            <key>textureFileName</key>
            <string>ddz_txt_img_res.png</string>
        </dict>
    </dict>
</plist>
