<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_back_kuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,288},{283,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,118}}</string>
                <key>sourceSize</key>
                <string>{283,118}</string>
            </dict>
            <key>ddz_back_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,717},{110,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,47}}</string>
                <key>sourceSize</key>
                <string>{110,47}</string>
            </dict>
            <key>ddz_back_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,621},{162,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,50}}</string>
                <key>sourceSize</key>
                <string>{162,50}</string>
            </dict>
            <key>ddz_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,973},{150,59}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{150,59}}</string>
                <key>sourceSize</key>
                <string>{160,69}</string>
            </dict>
            <key>ddz_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,884},{173,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,86}}</string>
                <key>sourceSize</key>
                <string>{173,86}</string>
            </dict>
            <key>ddz_btn_bsjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,510},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ddz_btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1003},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ddz_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,796},{173,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,86}}</string>
                <key>sourceSize</key>
                <string>{173,86}</string>
            </dict>
            <key>ddz_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,829},{142,55}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{142,55}}</string>
                <key>sourceSize</key>
                <string>{160,69}</string>
            </dict>
            <key>ddz_btn_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{224,98}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{224,98}}</string>
                <key>sourceSize</key>
                <string>{232,98}</string>
            </dict>
            <key>ddz_btn_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,573},{224,98}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,98}}</string>
                <key>sourceSize</key>
                <string>{232,98}</string>
            </dict>
            <key>ddz_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,972},{165,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{165,78}}</string>
                <key>sourceSize</key>
                <string>{173,86}</string>
            </dict>
            <key>ddz_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,853},{148,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{148,61}}</string>
                <key>sourceSize</key>
                <string>{160,69}</string>
            </dict>
            <key>ddz_btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{139,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,77}}</string>
                <key>sourceSize</key>
                <string>{139,77}</string>
            </dict>
            <key>ddz_btn_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1052},{148,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{148,69}}</string>
                <key>sourceSize</key>
                <string>{160,69}</string>
            </dict>
            <key>ddz_btn_trusteeship.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,935},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ddz_img_headkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{280,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,109}}</string>
                <key>sourceSize</key>
                <string>{280,109}</string>
            </dict>
            <key>ddz_img_hj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{134,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,210}}</string>
                <key>sourceSize</key>
                <string>{134,210}</string>
            </dict>
            <key>ddz_img_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,510},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>ddz_img_jpq.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1091},{687,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,84}}</string>
                <key>sourceSize</key>
                <string>{687,84}</string>
            </dict>
            <key>ddz_img_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1003},{1021,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1021,92}}</string>
                <key>sourceSize</key>
                <string>{1021,92}</string>
            </dict>
            <key>ddz_img_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,673},{183,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,42}}</string>
                <key>sourceSize</key>
                <string>{183,42}</string>
            </dict>
            <key>ddz_img_overkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{505,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,284}}</string>
                <key>sourceSize</key>
                <string>{505,284}</string>
            </dict>
            <key>ddz_img_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,857},{76,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,92}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>ddz_img_szjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,785},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>ddz_img_tgbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,717},{77,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,180}}</string>
                <key>sourceSize</key>
                <string>{77,180}</string>
            </dict>
            <key>ddz_img_zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1023},{77,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,86}}</string>
                <key>sourceSize</key>
                <string>{77,86}</string>
            </dict>
            <key>ddz_set_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{220,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,387}}</string>
                <key>sourceSize</key>
                <string>{220,387}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_img_res.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5998b566a181c7961a5ff451f570e0c9$</string>
            <key>textureFileName</key>
            <string>ddz_img_res.png</string>
        </dict>
    </dict>
</plist>
