<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{127,511}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,511}}</string>
                <key>sourceSize</key>
                <string>{137,511}</string>
            </dict>
            <key>flash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1028},{137,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,511}}</string>
                <key>sourceSize</key>
                <string>{137,511}</string>
            </dict>
            <key>flash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,515},{119,511}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{119,511}}</string>
                <key>sourceSize</key>
                <string>{137,511}</string>
            </dict>
            <key>open1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1541},{66,95}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,95}}</string>
                <key>sourceSize</key>
                <string>{66,99}</string>
            </dict>
            <key>open2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1541},{56,99}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{56,99}}</string>
                <key>sourceSize</key>
                <string>{66,99}</string>
            </dict>
            <key>open3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1400},{34,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{34,97}}</string>
                <key>sourceSize</key>
                <string>{66,99}</string>
            </dict>
            <key>win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1619},{214,215}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{214,215}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1619},{214,215}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{214,215}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>win3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{218,217}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,43},{218,217}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>win4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1155},{244,243}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{244,243}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>win5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{268,269}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{268,269}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>win6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{288,287}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{288,287}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>win7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{296,299}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{296,299}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>win8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{294,301}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_effect.png</string>
            <key>size</key>
            <string>{434,1836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0be6ab7ed96047403d0ebcc531834829$</string>
            <key>textureFileName</key>
            <string>game_effect.png</string>
        </dict>
    </dict>
</plist>
