<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oxbattle_set_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{666,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,393}}</string>
                <key>sourceSize</key>
                <string>{666,393}</string>
            </dict>
            <key>oxbattle_set_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,397},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>oxbattle_set_bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{457,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,120}}</string>
                <key>sourceSize</key>
                <string>{457,120}</string>
            </dict>
            <key>oxbattle_set_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,397},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>oxbattle_set_icon_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,397},{103,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{103,52}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>oxbattle_set_icon_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,397},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{59,28}</string>
            </dict>
            <key>oxbattle_set_icon_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,397},{103,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{103,52}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>oxbattle_set_icon_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,397},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{59,28}</string>
            </dict>
            <key>oxbattle_set_icon_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,397},{125,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,63}}</string>
                <key>sourceSize</key>
                <string>{125,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>oxbattle_setlayer.png</string>
            <key>size</key>
            <string>{792,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5134b4c194895438eb92445f4df73d9f$</string>
            <key>textureFileName</key>
            <string>oxbattle_setlayer.png</string>
        </dict>
    </dict>
</plist>
