<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>showhand_set_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{957,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{957,588}}</string>
                <key>sourceSize</key>
                <string>{957,588}</string>
            </dict>
            <key>showhand_set_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,592},{88,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,67}}</string>
                <key>sourceSize</key>
                <string>{88,67}</string>
            </dict>
            <key>showhand_set_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,592},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>showhand_set_icon_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,592},{108,57}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,57}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>showhand_set_icon_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{356,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,90}}</string>
                <key>sourceSize</key>
                <string>{356,90}</string>
            </dict>
            <key>showhand_set_icon_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,85},{81,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,40}}</string>
                <key>sourceSize</key>
                <string>{81,40}</string>
            </dict>
            <key>showhand_set_icon_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,592},{108,57}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{108,57}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>showhand_set_icon_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{81,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,40}}</string>
                <key>sourceSize</key>
                <string>{81,40}</string>
            </dict>
            <key>showhand_set_icon_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,592},{274,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,80}}</string>
                <key>sourceSize</key>
                <string>{274,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>showhand_setlayer.png</string>
            <key>size</key>
            <string>{1005,684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b5194d9322bd143633b93030fa734da$</string>
            <key>textureFileName</key>
            <string>showhand_setlayer.png</string>
        </dict>
    </dict>
</plist>
