<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>28gang_img_bank_getout.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{92,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,39}}</string>
                <key>sourceSize</key>
                <string>{92,39}</string>
            </dict>
            <key>28gang_img_bank_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>28gang_img_bank_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{89,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,48}}</string>
                <key>sourceSize</key>
                <string>{89,48}</string>
            </dict>
            <key>28gang_img_bank_min.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{89,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,48}}</string>
                <key>sourceSize</key>
                <string>{89,48}</string>
            </dict>
            <key>28gang_img_bank_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,52},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{14,8}</string>
            </dict>
            <key>28gang_img_bank_proback.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{480,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,28}}</string>
                <key>sourceSize</key>
                <string>{480,28}</string>
            </dict>
            <key>28gang_img_bank_profront.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,32},{476,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{476,24}}</string>
                <key>sourceSize</key>
                <string>{480,28}</string>
            </dict>
            <key>28gang_img_bank_pw.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{92,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,39}}</string>
                <key>sourceSize</key>
                <string>{92,39}</string>
            </dict>
            <key>28gang_img_bank_textk.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{89,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>28gang_img_title_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,59}}</string>
                <key>sourceSize</key>
                <string>{111,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_bank.png</string>
            <key>size</key>
            <string>{1118,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08228d8a35ec35a2adb04e28443ec876$</string>
            <key>textureFileName</key>
            <string>game_bank.png</string>
        </dict>
    </dict>
</plist>
