<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redblackbattle_bg_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,319}}</string>
                <key>sourceSize</key>
                <string>{500,319}</string>
            </dict>
            <key>redblackbattle_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,323},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>redblackbattle_icon_title_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{118,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,69}}</string>
                <key>sourceSize</key>
                <string>{118,69}</string>
            </dict>
            <key>redblackbattle_set_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,323},{109,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,60}}</string>
                <key>sourceSize</key>
                <string>{109,60}</string>
            </dict>
            <key>redblackbattle_set_icon_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,323},{60,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,34}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>redblackbattle_set_icon_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,323},{60,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,34}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>redblackbattle_set_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,323},{118,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redblackbattle_set.png</string>
            <key>size</key>
            <string>{504,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3903991860075b9142a8c6ac6406d25$</string>
            <key>textureFileName</key>
            <string>redblackbattle_set.png</string>
        </dict>
    </dict>
</plist>
