<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oxsixexgold_ani_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1197},{82,195}}</string>
                <key>offset</key>
                <string>{17,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,168},{82,195}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>oxsixexgold_ani_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,991},{230,271}}</string>
                <key>offset</key>
                <string>{23,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,12},{230,271}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>oxsixexgold_ani_coin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{382,241}}</string>
                <key>offset</key>
                <string>{22,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,0},{382,241}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>oxsixexgold_ani_coin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,397}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,2},{504,397}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>oxsixexgold_ani_coin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{608,229}}</string>
                <key>offset</key>
                <string>{19,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,202},{608,229}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>oxsixexgold_ani_coin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,245},{678,91}}</string>
                <key>offset</key>
                <string>{4,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,343},{678,91}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>oxsixexgold_ani_coin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{688,79}}</string>
                <key>offset</key>
                <string>{0,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,358},{688,79}}</string>
                <key>sourceSize</key>
                <string>{688,437}</string>
            </dict>
            <key>oxsixexgold_effect_win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,980},{214,215}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{214,215}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>oxsixexgold_effect_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,980},{214,215}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{214,215}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>oxsixexgold_effect_win3.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,490},{218,217}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,43},{218,217}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>oxsixexgold_effect_win4.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,245},{244,243}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{244,243}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>oxsixexgold_effect_win5.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,709},{268,269}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{268,269}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>oxsixexgold_effect_win6.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,702},{288,287}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{288,287}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>oxsixexgold_effect_win7.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,401},{296,299}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{296,299}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
            <key>oxsixexgold_effect_win8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1011},{294,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{294,301}}</string>
                <key>sourceSize</key>
                <string>{296,301}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{973,1307}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0923dd157742fa79194193afd53e38c8$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
