<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dealer_happy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,237}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{281,237}}</string>
                <key>sourceSize</key>
                <string>{367,311}</string>
            </dict>
            <key>dealer_happy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{225,249}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,27},{225,249}}</string>
                <key>sourceSize</key>
                <string>{367,311}</string>
            </dict>
            <key>dealer_happy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{263,207}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,69},{263,207}}</string>
                <key>sourceSize</key>
                <string>{367,311}</string>
            </dict>
            <key>dealer_happy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{265,209}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,67},{265,209}}</string>
                <key>sourceSize</key>
                <string>{367,311}</string>
            </dict>
            <key>dealer_happy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{327,201}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,75},{327,201}}</string>
                <key>sourceSize</key>
                <string>{367,311}</string>
            </dict>
            <key>dealer_happy_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{265,209}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,67},{265,209}}</string>
                <key>sourceSize</key>
                <string>{367,311}</string>
            </dict>
            <key>dealer_happy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{327,201}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,75},{327,201}}</string>
                <key>sourceSize</key>
                <string>{367,311}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dealer_happy.png</string>
            <key>size</key>
            <string>{1397,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8809dc6103d7531d69a63b53f66272b2$</string>
            <key>textureFileName</key>
            <string>dealer_happy.png</string>
        </dict>
    </dict>
</plist>
