<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dealer_anger_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,705},{289,219}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,43},{289,219}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,705},{283,227}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,35},{283,227}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{325,267}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{325,267}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{333,209}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,58},{333,209}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,271},{323,201}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,66},{323,201}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{325,201}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,66},{325,201}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{319,223}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{319,223}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,474},{315,229}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{315,229}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,458},{317,225}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{317,225}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{305,225}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{305,225}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,229},{297,227}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,35},{297,227}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{311,227}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{311,227}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,685},{249,221}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,41},{249,221}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dealer_anger1.png</string>
            <key>size</key>
            <string>{973,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5919915301cace2a56dc9e9655f3d39a$</string>
            <key>textureFileName</key>
            <string>dealer_anger1.png</string>
        </dict>
    </dict>
</plist>
