<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dealer_anger_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,2},{303,227}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{303,227}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{313,225}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{313,225}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{319,225}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{319,225}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{319,225}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{319,225}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{319,225}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{319,225}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{329,225}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{329,225}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,229},{311,215}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,47},{311,215}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,229},{303,215}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,47},{303,215}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,231},{301,219}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,43},{301,219}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{263,223}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,41},{263,223}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,229},{261,223}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,39},{261,223}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,229},{255,223}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,39},{255,223}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
            <key>dealer_anger_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,231},{251,221}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,41},{251,221}}</string>
                <key>sourceSize</key>
                <string>{375,279}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dealer_anger2.png</string>
            <key>size</key>
            <string>{1961,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a31e8fb11f5498d320f6a3ec3c70b437$</string>
            <key>textureFileName</key>
            <string>dealer_anger2.png</string>
        </dict>
    </dict>
</plist>
