<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dealer_dice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{243,220}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{243,220}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{243,220}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{243,220}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{243,220}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{243,220}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{243,220}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{243,220}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,224}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{265,224}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{241,214}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{241,214}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1332},{219,208}}</string>
                <key>offset</key>
                <string>{-20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{219,208}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1440},{205,198}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,23},{205,198}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1827},{191,170}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{191,170}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1024},{195,172}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,48},{195,172}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,228},{201,174}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,46},{201,174}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,823},{199,170}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,50},{199,170}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,628},{193,176}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,44},{193,176}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1647},{201,178}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,42},{201,178}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{197,180}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,40},{197,180}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,431},{195,176}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,44},{195,176}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{217,178}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,42},{217,178}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
            <key>dealer_dice_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1221},{217,178}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,42},{217,178}}</string>
                <key>sourceSize</key>
                <string>{293,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dealer_dice1.png</string>
            <key>size</key>
            <string>{425,1999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:514f533c6e64ce7ee4d0a1c49413e2b1$</string>
            <key>textureFileName</key>
            <string>dealer_dice1.png</string>
        </dict>
    </dict>
</plist>
