<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_lu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1861},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1861},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1718},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1718},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1718},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1575},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1575},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1575},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1432},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1432},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1289},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1289},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1146},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1146},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1003},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1003},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1003},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,860},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,860},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,717},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,717},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,574},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,574},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,431},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,431},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,288},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,288},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,145},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,145},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>action_lu_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,141}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lu.png</string>
            <key>size</key>
            <string>{635,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6947c01d564ffd13e57b92dec95f3ba5$</string>
            <key>textureFileName</key>
            <string>lu.png</string>
        </dict>
    </dict>
</plist>
