<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_shz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1556},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1345},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1134},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,990},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,779},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,568},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,213},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,424},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,213},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1844},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1633},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1422},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1278},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1134},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,923},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,779},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,635},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,424},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,213},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1787},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1643},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1499},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1288},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1144},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1000},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,789},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,578},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1854},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1710},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1566},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1422},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1211},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1067},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,923},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,779},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,434},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,290},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,146},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,635},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,424},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,213},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1057},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuihuzhuan.png</string>
            <key>size</key>
            <string>{933,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8226ddbd67cb0e55af0b680d101cb645$</string>
            <key>textureFileName</key>
            <string>shuihuzhuan.png</string>
        </dict>
    </dict>
</plist>
