<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_17_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1512},{234,494}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{234,494}}</string>
                <key>sourceSize</key>
                <string>{304,512}</string>
            </dict>
            <key>fish_17_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,492},{212,502}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,9},{212,502}}</string>
                <key>sourceSize</key>
                <string>{304,512}</string>
            </dict>
            <key>fish_17_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{238,488}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{238,488}}</string>
                <key>sourceSize</key>
                <string>{304,512}</string>
            </dict>
            <key>fish_17_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{234,494}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{234,494}}</string>
                <key>sourceSize</key>
                <string>{304,512}</string>
            </dict>
            <key>fish_17_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{236,502}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{236,502}}</string>
                <key>sourceSize</key>
                <string>{304,512}</string>
            </dict>
            <key>fish_17_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{236,502}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{236,502}}</string>
                <key>sourceSize</key>
                <string>{304,512}</string>
            </dict>
            <key>fish_17_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,506},{236,498}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{236,498}}</string>
                <key>sourceSize</key>
                <string>{304,512}</string>
            </dict>
            <key>fish_17_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1006},{236,496}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{236,496}}</string>
                <key>sourceSize</key>
                <string>{304,512}</string>
            </dict>
            <key>fish_17_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,504},{234,496}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{234,496}}</string>
                <key>sourceSize</key>
                <string>{304,512}</string>
            </dict>
            <key>fish_17_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{236,500}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{236,500}}</string>
                <key>sourceSize</key>
                <string>{304,512}</string>
            </dict>
            <key>fish_17_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,502}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{236,502}}</string>
                <key>sourceSize</key>
                <string>{304,512}</string>
            </dict>
            <key>fish_17_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{234,500}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{234,500}}</string>
                <key>sourceSize</key>
                <string>{304,512}</string>
            </dict>
            <key>fish_19_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,2},{299,251}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,53},{299,251}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{299,249}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,53},{299,249}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{299,251}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,53},{299,251}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,741},{301,247}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,53},{301,247}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,255},{305,235}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,54},{305,235}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,996},{309,221}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,57},{309,221}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,502},{315,207}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,61},{315,207}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1307},{315,203}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,61},{315,203}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1307},{315,207}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,61},{315,207}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1516},{307,221}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,57},{307,221}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1002},{303,235}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,55},{303,235}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,492},{301,247}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,53},{301,247}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,255},{295,241}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,57},{295,241}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,498},{293,231}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{293,231}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,990},{291,223}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,67},{291,223}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1287},{293,219}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,69},{293,219}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,731},{291,223}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,67},{291,223}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1739},{293,231}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{293,231}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,990},{295,239}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,59},{295,239}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,253},{297,247}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,55},{297,247}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,711},{305,151}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,92},{305,151}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,1657},{303,151}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,93},{303,151}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,956},{305,151}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,92},{305,151}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1624},{303,151}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,93},{303,151}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,1747},{297,155}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,91},{297,155}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,1025},{291,157}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,92},{291,157}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,502},{285,159}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,92},{285,159}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,1810},{285,159}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,92},{285,159}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1586},{285,159}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,92},{285,159}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,864},{291,159}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,90},{291,159}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1747},{297,155}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,91},{297,155}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1263},{303,153}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,91},{303,153}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,864},{303,155}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,91},{303,155}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1343},{301,157}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,91},{301,157}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1283},{301,159}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,91},{301,159}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,1588},{299,157}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,93},{299,157}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1184},{301,157}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,93},{301,157}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1777},{301,157}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,91},{301,157}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1502},{301,153}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,92},{301,153}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish_19_yd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1283},{303,151}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,92},{303,151}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishlk_fish_2.png</string>
            <key>size</key>
            <string>{2007,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98e4fae13be350632e5aedf12395571e$</string>
            <key>textureFileName</key>
            <string>fishlk_fish_2.png</string>
        </dict>
    </dict>
</plist>
